<div novalidate [formGroup]="screenFormGroup">
    <div [magic]="mgc.List">
        <div class="m-tablewrapper pl-0 pr-0">
            <div class="example-container mat-elevation-z8 Table1TableContainerProps">
                <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                    (matSortChange)="tableService.sortData($event)">
                    <ng-container [magic]="mgc.Column3" [matColumnDef]="mgc.Column3">
                        <mat-header-cell *matHeaderCellDef>
                            PCNO
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.V_KDPM_PCNO" *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.V_KDPM_PCNO" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.V_KDPM_PCNO [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.V_KDPM_PCNO"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.V_KDPM_PCNO, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column4" [matColumnDef]="mgc.Column4">
                        <mat-header-cell *matHeaderCellDef>
                            Dist
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.KDPCHED_PH_DSCD" *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.KDPCHED_PH_DSCD" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.KDPCHED_PH_DSCD [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.KDPCHED_PH_DSCD"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.KDPCHED_PH_DSCD, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column6" [matColumnDef]="mgc.Column6">
                        <mat-header-cell *matHeaderCellDef>
                            Dist Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.DSTBMST_DS_DSENAM"
                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.DSTBMST_DS_DSENAM"
                                            [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.DSTBMST_DS_DSENAM [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.DSTBMST_DS_DSENAM"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.DSTBMST_DS_DSENAM, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null">
                    </mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [hidePageSize]="true"
                    (page)="tableService.mgOnPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>