<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.LotMasterCM">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                            LOT Master : CM
                        </label></h3>
                    <div class="d-flex align-items-center">
                        <button type="button" [magic]="mgc.btnexit"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row" style="margin: 0rem;">
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <div class="form-group-sm">
                                    <label>LOT CODE</label>
                                    <input class="form-control-ed" [formControlName]="mgc.LOT_CODE"
                                        [magic]="mgc.LOT_CODE" mgFormat />
                                    <mgError [magic]=mgc.LOT_CODE> </mgError>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group-sm">
                                    <label>LOT DESCRIPTION</label>
                                    <input class="form-control-ed" [formControlName]="mgc.LOT_DESC"
                                        [magic]="mgc.LOT_DESC" mgFormat />
                                    <mgError [magic]=mgc.LOT_DESC> </mgError>
                                </div>
                            </div>
                             <div class="col-lg-6">
                                <div class="form-group">
                                    <label>LOT MDCD</label>
                                    <div class="input-group">
                                        <input type="text" [formControlName]="mgc.LOT_MDCD" [magic]="mgc.LOT_MDCD"
                                            class="form-control" placeholder="SELECT MD CODE" mgFormat />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-loanlist btn-icon"
                                                [magic]="mgc.LOT_MDCD">
                                                <span class="svg-icon svg-icon-lg"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                        height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <path
                                                                d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z"
                                                                fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                            <path
                                                                d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z"
                                                                fill="#000000" opacity="0.3" />
                                                        </g>
                                                    </svg></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group-sm">
                                    <label>MTO NAME</label>
                                    <input class="form-control-ed" [formControlName]="mgc.S1_MTONAME"
                                        [magic]="mgc.S1_MTONAME" mgFormat />
                                    <mgError [magic]=mgc.S1_MTONAME> </mgError>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group-sm">
                                    <label> LOT MQTY</label>
                                    <input class="form-control-ed" [formControlName]="mgc.LOT_MQTY" type='number'
                                        [magic]="mgc.LOT_MQTY" mgFormat />
                                    <mgError [magic]=mgc.LOT_MQTY> </mgError>
                                </div>
                            </div>                           
                        </div>
                    </div>

                    <div class="col-lg-12 col-xxl-12">
                  <div class="form-group row">
                            <div class="col-lg-4">
                                <div class="form-group-sm">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group-sm">
                                    <button type="button" [magic]="mgc.btnSave"
                                        class="btn btn-primary font-weight-bold mr-3 btn-wdth">
                                        SAVE
                                    </button>
                                </div>
                            </div>
                             <div class="col-lg-4">
                                <div class="form-group-sm">
                                </div>
                            </div>



                    </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>