<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.CKDPARTSMASTERModify4"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
                <<
                    C.K.D.
                    PART
                    MODIFICATION
                >>
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label2"
                class="lable_overflow"
            >
                PART NO.:
            </label>
            <div>
                <input
                    [formControlName]="mgc.PART_NO"
                    [magic]="mgc.PART_NO"
                    mgFormat
                />
                <mgError [magic]=mgc.PART_NO> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label4"
                class="lable_overflow"
            >
                BASE PART
            </label>
            <div>
                <input
                    [formControlName]="mgc.BASE_PART_NO"
                    [magic]="mgc.BASE_PART_NO"
                    mgFormat
                />
                <mgError [magic]=mgc.BASE_PART_NO> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label6"
                class="lable_overflow"
            >
                COLOR CODE
            </label>
            <label [magic]="mgc.PART_COLOR">
                {{mg.getValue(mgc.PART_COLOR) }}
            </label>
            <button
                style="min-width: auto; margin: auto"
                [magic]="mgc.PART_COLOR"
            >...</button>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label8"
                class="lable_overflow"
            >
                Lot Code
            </label>
            <div>
                <input
                    style="width: 70%"
                    [formControlName]="mgc.PART_LTCD_0001"
                    [magic]="mgc.PART_LTCD_0001"
                    mgFormat
                />
                <mgError [magic]=mgc.PART_LTCD_0001> </mgError>
                <button
                    style="min-width: auto; margin: auto"
                    [magic]="mgc.PART_LTCD_0001"
                >...</button>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label10"
                class="lable_overflow"
            >
                Is Select
            </label>
            <div>
                <input
                    [formControlName]="mgc.STATUS"
                    [magic]="mgc.STATUS"
                    mgFormat
                />
                <mgError [magic]=mgc.STATUS> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label12"
                class="lable_overflow"
            >
                Is Required
            </label>
            <div>
                <input
                    [formControlName]="mgc.IS_REQUIRED_0001"
                    [magic]="mgc.IS_REQUIRED_0001"
                    mgFormat
                />
                <mgError [magic]=mgc.IS_REQUIRED_0001> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.v_SaveExit">
                {{mg.getValue(mgc.v_SaveExit)}}
            </button>
        </div>
    </div>
</div>