

<div novalidate [formGroup]="screenFormGroup">
    <div [magic]="mgc.Details">
              <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                       <h3><label class="lbl-sm" class="lable_overflow mb-0">
                           Details
                        </label></h3>
                    <button type="button" [magic]="mgc.btn_Exit"
                        class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                </div>
            </div>
        </div>
        <div class="m-tablewrapper pl-0 pr-0">
            <div class="example-container mat-elevation-z8 Table7TableContainerProps">
                <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                    (matSortChange)="tableService.sortData($event)">
                    <ng-container [magic]="mgc.Column2" [matColumnDef]="mgc.Column2">
                        <mat-header-cell *matHeaderCellDef>
                           PC Number
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.CKD_CASE_TransferDTL_PC_No" *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.CKD_CASE_TransferDTL_PC_No" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.CKD_CASE_TransferDTL_PC_No [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.CKD_CASE_TransferDTL_PC_No"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.CKD_CASE_TransferDTL_PC_No, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <ng-container [magic]="mgc.Column3" [matColumnDef]="mgc.Column3">
                        <mat-header-cell *matHeaderCellDef>
                            LOT ID
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.CKD_CASE_TransferDTL_LOT_ID"
                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.CKD_CASE_TransferDTL_LOT_ID"
                                            [magic]="mgc.CKD_CASE_TransferDTL_LOT_ID" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.CKD_CASE_TransferDTL_LOT_ID [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.CKD_CASE_TransferDTL_LOT_ID"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.CKD_CASE_TransferDTL_LOT_ID, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column4" [matColumnDef]="mgc.Column4">
                        <mat-header-cell *matHeaderCellDef>
                        Container ID
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.ContainerID"
                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.ContainerID"
                                            [magic]="mgc.ContainerID" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.ContainerID [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.ContainerID"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.ContainerID, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column5" [matColumnDef]="mgc.Column5">
                        <mat-header-cell *matHeaderCellDef>
                            Case ID
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.CKD_CASE_TransferDTL_CaseID"
                                            *ngIf="mg.isRowInRowEditing(row)" currencyMask
                                            [options]="mg.getNumericPicture(mg.getPicture(mgc.CKD_CASE_TransferDTL_CaseID))"
                                            [magic]="mgc.CKD_CASE_TransferDTL_CaseID" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.CKD_CASE_TransferDTL_CaseID [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.CKD_CASE_TransferDTL_CaseID"
                                            [rowId]="row.rowId">
                                            {{mg.getFormattedValue(mgc.CKD_CASE_TransferDTL_CaseID, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null">
                    </mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10"  [hidePageSize]="true" showFirstLastButtons
                    (page)="tableService.mgOnPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>
        
    </div>
</div>