.mat-header-row {
    background: none;
    background-color: #008080 ! important;
    color: #ffffff;
}

.mat-mdc-cell:first-child {
    flex: 0 0 5%;
    padding-left: 2px;
}
.mat-mdc-header-cell:first-child {
    flex: 0 0 5%;
    padding-left: 2px;
}
 .mat-mdc-cell:nth-child(2) {
    flex: 0 0 12%;
}
.mat-mdc-header-cell:nth-child(2) {
    flex: 0 0 12%;
} 
 .mat-mdc-cell:nth-child(3) {
    flex: 0 0 8%;
}
.mat-mdc-header-cell:nth-child(3) {
    flex: 0 0 8%;
}
 .mat-mdc-cell:nth-child(6){
  flex: 0 0 18%;
}
.mat-mdc-header-cell:nth-child(6){
  flex: 0 0 18%;
}
 .mat-mdc-cell:nth-child(7){
  flex: 0 0 25%;
}
.mat-mdc-header-cell:nth-child(7){
  flex: 0 0 25%;
}
.mat-mdc-cell:nth-child(8){
  flex: 0 0 10%;
   justify-content: flex-end;
}
.mat-mdc-header-cell:nth-child(8){
  flex: 0 0 10%;
   justify-content: flex-end;
} 
