<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.CKDZ012BrowseCartons"
    >
        <div style="display: flex; flex-direction: row">
            <div>
                <input
                    [formControlName]="mgc.Edit2"
                    [magic]="mgc.Edit2"
                    mgFormat
                />
                <mgError [magic]=mgc.Edit2> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label5"
                class="lable_overflow"
            >
            </label>
            <div>
                <input
                    [formControlName]="mgc.vSearch"
                    [magic]="mgc.vSearch"
                    mgFormat
                />
                <mgError [magic]=mgc.vSearch> </mgError>
            </div>
            <label [magic]="mgc.Edit3">
                {{mg.getValue(mgc.Edit3)
| magicDate : mgc.Edit3}}
            </label>
            <label [magic]="mgc.Edit4">
                {{mg.getValue(mgc.Edit4)
| magicTime : mgc.Edit4}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label7"
                class="lable_overflow"
            >
                Search
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.btnexit">
                X
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <magic-subform [magic]="mgc.Sub1">
            </magic-subform>
        </div>
    </div>
</div>