<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.LOTCOPY"
    >
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Edit2">
                {{mg.getValue(mgc.Edit2) }}
            </label>
            <label [magic]="mgc.Edit4">
                {{mg.getValue(mgc.Edit4)
| magicDate : mgc.Edit4}}
            </label>
            <label [magic]="mgc.Edit3">
                {{mg.getValue(mgc.Edit3)
| magicTime : mgc.Edit3}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label4"
                class="lable_overflow"
            >
                <<
                    ENTER
                    NEW
                    LOT
                    DETAILS
                >>
            </label>
            <button [magic]="mgc.btnexit">
                Exit
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label5"
                class="lable_overflow"
            >
                LOT TO BE COPIED:
            </label>
            <div>
                <input
                    style="width: 70%"
                    [formControlName]="mgc.v_Lot_No_Copy_From"
                    [magic]="mgc.v_Lot_No_Copy_From"
                    mgFormat
                />
                <mgError [magic]=mgc.v_Lot_No_Copy_From> </mgError>
                <button
                    style="min-width: auto; margin: auto"
                    [magic]="mgc.v_Lot_No_Copy_From"
                >...</button>
            </div>
            <label
                [magic]="mgc.Label7"
                class="lable_overflow"
            >
                MODEL CODE:
            </label>
            <div>
                <input
                    [formControlName]="mgc.LOT_MAST_LOT_MDCD"
                    [magic]="mgc.LOT_MAST_LOT_MDCD"
                    mgFormat
                />
                <mgError [magic]=mgc.LOT_MAST_LOT_MDCD> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label9"
                class="lable_overflow"
            >
                NEW LOT CODE:
            </label>
            <div>
                <input
                    style="width: 70%"
                    [formControlName]="mgc.v_Lot_No_Copy_To"
                    [magic]="mgc.v_Lot_No_Copy_To"
                    mgFormat
                />
                <mgError [magic]=mgc.v_Lot_No_Copy_To> </mgError>
                <button
                    style="min-width: auto; margin: auto"
                    [magic]="mgc.v_Lot_No_Copy_To"
                >...</button>
            </div>
            <label
                [magic]="mgc.Label11"
                class="lable_overflow"
            >
                MODEL CODE:
            </label>
            <div>
                <input
                    [formControlName]="mgc.V_v_Model_To_Copy"
                    [magic]="mgc.V_v_Model_To_Copy"
                    mgFormat
                />
                <mgError [magic]=mgc.V_v_Model_To_Copy> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.btnSave">
                Copy
            </button>
        </div>
    </div>
</div>