
<div novalidate [formGroup]="screenFormGroup">
    <div [magic]="mgc.CKDZ012List">
	  <div class="card">
             <div class="card-header">
    
                </div>
        <div class="m-tablewrapper pl-0 pr-0">
            <div class="example-container mat-elevation-z8 Table1TableContainerProps">
                <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                    (matSortChange)="tableService.sortData($event)">
                    <ng-container [magic]="mgc.Column3" [matColumnDef]="mgc.Column3">
                        <mat-header-cell *matHeaderCellDef>
                         Carton No
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.PCR_DATA_PCR_CRNO" *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PCR_DATA_PCR_CRNO" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.PCR_DATA_PCR_CRNO [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.PCR_DATA_PCR_CRNO"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.PCR_DATA_PCR_CRNO, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column4" [matColumnDef]="mgc.Column4">
                        <mat-header-cell *matHeaderCellDef>
                           Carton Type
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.PCR_DATA_PCR_CRTY"
                                            *ngIf="mg.isRowInRowEditing(row)" type='number'
                                            [magic]="mgc.PCR_DATA_PCR_CRTY" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.PCR_DATA_PCR_CRTY [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.PCR_DATA_PCR_CRTY"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.PCR_DATA_PCR_CRTY, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column5" [matColumnDef]="mgc.Column5">
                        <mat-header-cell *matHeaderCellDef>
                           Pack Status
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.Edit8"
                                            *ngIf="mg.isRowInRowEditing(row)" type='number'
                                            [magic]="mgc.Edit8" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.Edit8 [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.Edit8"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.Edit8, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null">
                    </mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [hidePageSize]="true"
                    (page)="tableService.mgOnPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>
		
    </div>
</div>
</div>