

<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.PACKINGDATAMENU">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                            {{mg.getValue(mgc.Edit2) }}
                        </label></h3>

                    <div class="d-flex align-items-center">
                        <button type="button" [magic]="mgc.btnexit"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8 text-center">
                        <div class="form-group">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                *ngIf="mg.getVisible(mgc.btn_1_PC_Lot_Generation_v)==='visible'"
                                [magic]="mgc.btn_1_PC_Lot_Generation_v">
                                {{mg.getValue(mgc.btn_1_PC_Lot_Generation_v)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.btn_2_Packing_Data_Generation_v)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.btn_2_Packing_Data_Generation_v">
                                {{mg.getValue(mgc.btn_2_Packing_Data_Generation_v)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.btn_3_Packing_Data_Inquriy_v)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.btn_3_Packing_Data_Inquriy_v">
                                {{mg.getValue(mgc.btn_3_Packing_Data_Inquriy_v)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.btn_4_Case_Packing_Schedule_Entrv)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.btn_4_Case_Packing_Schedule_Entrv">
                                {{mg.getValue(mgc.btn_4_Case_Packing_Schedule_Entrv)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.btn_5_Case_Packing_Approval_v)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.btn_5_Case_Packing_Approval_v">
                                {{mg.getValue(mgc.btn_5_Case_Packing_Approval_v)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.btn_6_DCN_Updation_v)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.btn_6_DCN_Updation_v">
                                {{mg.getValue(mgc.btn_6_DCN_Updation_v)}}
                            </button>
                        </div>
                        <div class="form-group" *ngIf="mg.getVisible(mgc.btn_7_Bangladesh_Lot_Scanning_v)==='visible'">
                            <button class="btn btn-primary font-weight-bold mb-3 btn-wdth-75"
                                [magic]="mgc.btn_7_Bangladesh_Lot_Scanning_v">
                                {{mg.getValue(mgc.btn_7_Bangladesh_Lot_Scanning_v)}}
                            </button>
                        </div>
                     
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>