<div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.CONTAINERMASTERINQUIRY">
        <div style="display: flex; flex-direction: row">
            <div *ngIf="mg.isImageExists(mgc.Image1)">
                <img [magic]="mgc.Image1" [src]="mg.getImage(mgc.Image1)" />
            </div>
            <label [magic]="mgc.Edit3">
                {{mg.getValue(mgc.Edit3)
                | magicDate : mgc.Edit3}}
            </label>
            <label [magic]="mgc.Edit2">
                {{mg.getValue(mgc.Edit2) }}
            </label>
            <label [magic]="mgc.Edit4">
                {{mg.getValue(mgc.Edit4)
                | magicTime : mgc.Edit4}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Edit5">
                {{mg.getValue(mgc.Edit5) }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.btnexit">
                Back
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <div class="example-container mat-elevation-z8 Table7TableContainerProps">
                <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                    (matSortChange)="tableService.sortData($event)">
                    <ng-container [magic]="mgc.Column8" [matColumnDef]="mgc.Column8">
                        <mat-header-cell *matHeaderCellDef>
                            Code
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.CNT_CODE" *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.CNT_CODE" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.CNT_CODE [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.CNT_CODE"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.CNT_CODE, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column9" [matColumnDef]="mgc.Column9">
                        <mat-header-cell *matHeaderCellDef>
                            Description
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.CNT_MAST_CNT_DESC"
                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.CNT_MAST_CNT_DESC"
                                            [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.CNT_MAST_CNT_DESC [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.CNT_MAST_CNT_DESC"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.CNT_MAST_CNT_DESC, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column10" [matColumnDef]="mgc.Column10">
                        <mat-header-cell *matHeaderCellDef>
                            Length
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.CNT_MAST_CNT_LENG"
                                            *ngIf="mg.isRowInRowEditing(row)" type='number'
                                            [magic]="mgc.CNT_MAST_CNT_LENG" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.CNT_MAST_CNT_LENG [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.CNT_MAST_CNT_LENG"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.CNT_MAST_CNT_LENG, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column11" [matColumnDef]="mgc.Column11">
                        <mat-header-cell *matHeaderCellDef>
                            Height
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.CNT_MAST_CNT_HEIG"
                                            *ngIf="mg.isRowInRowEditing(row)" type='number'
                                            [magic]="mgc.CNT_MAST_CNT_HEIG" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.CNT_MAST_CNT_HEIG [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.CNT_MAST_CNT_HEIG"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.CNT_MAST_CNT_HEIG, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column12" [matColumnDef]="mgc.Column12">
                        <mat-header-cell *matHeaderCellDef>
                            Width
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.CNT_MAST_CNT_WIDT"
                                            *ngIf="mg.isRowInRowEditing(row)" type='number'
                                            [magic]="mgc.CNT_MAST_CNT_WIDT" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.CNT_MAST_CNT_WIDT [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.CNT_MAST_CNT_WIDT"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.CNT_MAST_CNT_WIDT, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column13" [matColumnDef]="mgc.Column13">
                        <mat-header-cell *matHeaderCellDef>
                            Weight
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.CNT_MAST_CNT_WEIG"
                                            *ngIf="mg.isRowInRowEditing(row)" currencyMask
                                            [options]="mg.getNumericPicture(mg.getPicture(mgc.CNT_MAST_CNT_WEIG))"
                                            [magic]="mgc.CNT_MAST_CNT_WEIG" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.CNT_MAST_CNT_WEIG [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.CNT_MAST_CNT_WEIG"
                                            [rowId]="row.rowId">
                                            {{mg.getFormattedValue(mgc.CNT_MAST_CNT_WEIG, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column22" [matColumnDef]="mgc.Column22">
                        <mat-header-cell *matHeaderCellDef>
                            Action
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button [magic]="mgc.btnEdit" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.btnEdit, row.rowId)">
                                    Edit
                                </button>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null">
                    </mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
                    (page)="tableService.mgOnPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label6" class="lable_overflow">
            </label>
        </div>
    </div>
</div>