

<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.CARTONWEIGHTLIMITSMODIFY">
        <div class="card">
            <div class="card-header">
                         <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                            {{mg.getText(mgc.Edit2)}}
                        </label></h3>
                    <div class="d-flex align-items-center">
                        <label class="lable_overflow mb-0">
                            {{mg.getText(mgc.Edit5)}}
                        </label>
                        <label [magic]="mgc.Edit3" class="mb-0 mr-3">
                            {{mg.getValue(mgc.Edit3)
                            | magicDate : mgc.Edit3}}
                        </label>
                        <label [magic]="mgc.Edit4" class="mb-0 mr-1">
                            {{mg.getValue(mgc.Edit4)
                            | magicTime : mgc.Edit4}}
                        </label>
                        <button type="button" [magic]="mgc.btnexit"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="form-group row" style="margin: 0rem;">
                    <div class="col-lg-12">
                        <div class="form-group row">
                           
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>PC No</label>
                                    <div class="input-group">
                                        <input type="text" [formControlName]="mgc.PC_No_v"
                                            [magic]="mgc.PC_No_v" class="form-control"
                                            placeholder="SELECT PC NO" mgFormat />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-loanlist btn-icon"
                                                [magic]="mgc.PC_No_v">
                                                <span class="svg-icon svg-icon-lg"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                        height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <path
                                                                d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z"
                                                                fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                            <path
                                                                d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z"
                                                                fill="#000000" opacity="0.3" />
                                                        </g>
                                                    </svg></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
							 <div class="col-lg-4">
                                <div class="form-group-sm">         
                                <label>Dist </label>
                                <input type="text" [formControlName]="mgc.KDPCHED_PH_DSCD" [magic]="mgc.KDPCHED_PH_DSCD"
                                    class="form-control" mgFormat />
                                </div>
                            </div>
                            
							 <div class="col-lg-4">
                                <div class="form-group-sm">             
                                <label> </label>
                                <input type="text" [formControlName]="mgc.DSTBMST_DS_DSENAM" [magic]="mgc.DSTBMST_DS_DSENAM"
                                    class="form-control" mgFormat />
                            
                                    
                                </div>
                            </div>
                                   <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Lot</label>
                                    <div class="input-group">
                                        <input type="text" [formControlName]="mgc.Lot_No_v"
                                            [magic]="mgc.Lot_No_v" class="form-control"
                                            placeholder="SELECT LOT " mgFormat />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-loanlist btn-icon"
                                                [magic]="mgc.Lot_No_v">
                                                <span class="svg-icon svg-icon-lg"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                        height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <path
                                                                d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z"
                                                                fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                            <path
                                                                d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z"
                                                                fill="#000000" opacity="0.3" />
                                                        </g>
                                                    </svg></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            	 <div class="col-lg-2">
                                <div class="form-group-sm">         
                                <label>Model</label>
                                <input type="text" [formControlName]="mgc.PKD_LTID_PKD_MDCD" [magic]="mgc.PKD_LTID_PKD_MDCD"
                                    class="form-control" mgFormat />
                                </div>
                            </div>
                            	 <div class="col-lg-2">
                                <div class="form-group-sm">             
                                <label> </label>
                                <input type="text" [formControlName]="mgc.MTOCMST_MTMDN1" [magic]="mgc.MTOCMST_MTMDN1"
                                    class="form-control" mgFormat />
                            
                                    
                                </div>
                            </div>
                            	 <div class="col-lg-2">
                                <div class="form-group-sm">             
                                <label> </label>
                                <input type="text" [formControlName]="mgc.PKD_LTID_PKD_MDTY" [magic]="mgc.PKD_LTID_PKD_MDTY"
                                    class="form-control" mgFormat />
                            
                                    
                                </div>
                            </div>
                            	 <div class="col-lg-2">
                                <div class="form-group-sm">             
                                <label> </label>
                                <input type="text" [formControlName]="mgc.PKD_LTID_PKD_MDOP" [magic]="mgc.PKD_LTID_PKD_MDOP"
                                    class="form-control" mgFormat />
                            
                                    
                                </div>
                            </div>
                                 <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Container</label>
                                    <div class="input-group">
                                        <input type="text" [formControlName]="mgc.Container_No_v"
                                            [magic]="mgc.Container_No_v" class="form-control"
                                            placeholder="SELECT Container " mgFormat />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-loanlist btn-icon"
                                                [magic]="mgc.Container_No_v">
                                                <span class="svg-icon svg-icon-lg"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                        height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <path
                                                                d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z"
                                                                fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                            <path
                                                                d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z"
                                                                fill="#000000" opacity="0.3" />
                                                        </g>
                                                    </svg></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                 <div class="col-lg-4">
                                <div class="form-group">
                                    <label>case</label>
                                    <div class="input-group">
                                        <input type="text" [formControlName]="mgc.Case_No_v"
                                            [magic]="mgc.Case_No_v" class="form-control"
                                            placeholder="SELECT Case " mgFormat />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-loanlist btn-icon"
                                                [magic]="mgc.Case_No_v">
                                                <span class="svg-icon svg-icon-lg"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                        height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <path
                                                                d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z"
                                                                fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                            <path
                                                                d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z"
                                                                fill="#000000" opacity="0.3" />
                                                        </g>
                                                    </svg></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                 <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Carton</label>
                                    <div class="input-group">
                                        <input type="text" [formControlName]="mgc.Carton_No_v"
                                            [magic]="mgc.Carton_No_v" class="form-control"
                                            placeholder="SELECT Carton " mgFormat />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-loanlist btn-icon"
                                                [magic]="mgc.Carton_No_v">
                                                <span class="svg-icon svg-icon-lg"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                        height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <path
                                                                d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z"
                                                                fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                            <path
                                                                d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z"
                                                                fill="#000000" opacity="0.3" />
                                                        </g>
                                                    </svg></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            	 <div class="col-lg-4">
                                <div class="form-group-sm">         
                                <label>Lower</label>
                                <input type="text" [formControlName]="mgc.Lower_Limit_v" [magic]="mgc.Lower_Limit_v"
                                    class="form-control" mgFormat />
                                </div>
                            </div>
                            	 <div class="col-lg-4">
                                <div class="form-group-sm">         
                                <label>Upper</label>
                                <input type="text" [formControlName]="mgc.Upper_Linit_v" [magic]="mgc.Upper_Linit_v"
                                    class="form-control" mgFormat />
                                </div>
                            </div>
                            	 <div class="col-lg-4">
                                <div class="form-group-sm">         
                                <label>Weight</label>
                                <input type="text" [formControlName]="mgc.PCR_DATA_PCR_CRGW" [magic]="mgc.PCR_DATA_PCR_CRGW"
                                    class="form-control" mgFormat />
                                </div>
                            </div>
                                  <div class="col-lg-1">
                                        <div class="checkbox-inline">

                                            <input style="width: 22px;height: 22px;" type="checkbox"
                                                id="Special_Approval_v"
                                                formControlName="{{mgc.Special_Approval_v}}"
                                                magic="{{mgc.Special_Approval_v}}">
                                        </div>
                                    </div>
                            
                          <div class="col-lg-5">
                                        <label>
                                           Special Approval
                                        </label>
                                    </div>
                        
							
                        </div>
                    </div>

                </div>
            </div>
        </div>
         <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-12 text-center">
                                <div class="form-group d-flex justify-content-center">
                                    <button type="button" [magic]="mgc.Save_v"
                                        class="btn btn-primary font-weight-bold mr-3 btn-wdth">
                                        SAVE
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
    </div>
</div>