<div novalidate [formGroup]="screenFormGroup">
    <div [magic]="mgc.Inputcolor">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                            INPUT COLOR
                        </label></h3>
                    
                    <div class="d-flex align-items-center">
                        <button type="button" [magic]="mgc.btnexit"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="container-fluid d-flex align-items-center justify-content-sm-between justify-content-center flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mb-2">
                <div class="d-flex align-items-center ser-bt1">
                    <div></div><button type="button" class="btn btn-sm btn-success" [magic]="mgc.btnAdd"
                        *ngIf="mg.getVisible(mgc.btnAdd)==='visible'">
                        <i class="flaticon-app mr-2"></i>ADD
                    </button>
                </div>
            </div>
        </div>
        <div class="m-tablewrapper pl-0 pr-0">
            <div class="example-container mat-elevation-z8 Table1TableContainerProps">
                <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                    (matSortChange)="tableService.sortData($event)">
                    <ng-container [magic]="mgc.Column2" [matColumnDef]="mgc.Column2">
                        <mat-header-cell *matHeaderCellDef>
                            Color code
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">                               
                                 <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input style="width: 70%" [formControlName]="mgc.COLOR_CODE"
                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.COLOR_CODE"
                                            [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.COLOR_CODE [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.COLOR_CODE"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.COLOR_CODE, row.rowId)
                                            }}
                                        </label>
                                        <button class="btn-primary" style="min-width: auto; margin: auto" [magic]="mgc.COLOR_CODE"
                                            [rowId]="row.rowId">...</button>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column3" [matColumnDef]="mgc.Column3">
                        <mat-header-cell *matHeaderCellDef>
                            Qty
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.QTY" *ngIf="mg.isRowInRowEditing(row)"
                                            currencyMask [options]="mg.getNumericPicture(mg.getPicture(mgc.QTY))"
                                            [magic]="mgc.QTY" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.QTY [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.QTY" [rowId]="row.rowId">
                                            {{mg.getFormattedValue(mgc.QTY, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column7" [matColumnDef]="mgc.Column7">
                        <mat-header-cell *matHeaderCellDef>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button class="btn-tbl" *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.EnterRowEditing"
                                    [rowId]="row.rowId">
                                    <i class="icon-xl far fa-edit text-info" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button class="btn-tbl" *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.SaveRowEditing"
                                    [rowId]="row.rowId">
                                    <i class="icon-xl far fa-save text-success" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button class="btn-tbl" *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.CancelRowEditing"
                                    [rowId]="row.rowId">
                                    <i class="icon-xl fas fa-eraser text-danger" aria-hidden="true"></i>
                                </button>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null">
                    </mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [hidePageSize]="true"
                    (page)="tableService.mgOnPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>

         <div class="col-lg-12 col-xxl-12">

       <div class="form-group row">
                            <div class="col-lg-4">
                                <div class="form-group-sm">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group-sm">
                                    <button type="button" [magic]="mgc.BtnOK"
                                        class="btn btn-primary font-weight-bold mr-3 btn-wdth">
                                        OK
                                    </button>
                                </div>
                            </div>
                          
                             <div class="col-lg-4">
                                <div class="form-group-sm">
                                </div>
                            </div>



                    </div>
                </div>
  
    </div>
</div>