<div novalidate [formGroup]="screenFormGroup">
    <div [magic]="mgc.COLOURCODEMASTERList">
        <div
            class="container-fluid d-flex align-items-center justify-content-sm-between justify-content-center flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex align-items-center ser-bt1">
                    <div></div><button type="button" class="btn btn-sm btn-success mb-4" [magic]="mgc.btnAdd"
                        *ngIf="mg.getVisible(mgc.btnAdd)==='visible'">
                        <i class="flaticon-app mr-2"></i>Add
                    </button>
                </div>
            </div>
        </div>
        <div class="m-tablewrapper pl-0 pr-0">
            <div class="example-container mat-elevation-z8 Table7TableContainerProps">
                <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                    (matSortChange)="tableService.sortData($event)">
                    <ng-container [magic]="mgc.Column8" [matColumnDef]="mgc.Column8">
                        <mat-header-cell *matHeaderCellDef>
                            CEATFG
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.CEATFG" *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.CEATFG" [rowId]="row.rowId" mgFormat rangevalidator />
                                        <mgError [magic]=mgc.CEATFG [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.CEATFG"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.CEATFG, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column9" [matColumnDef]="mgc.Column9">
                        <mat-header-cell *matHeaderCellDef>
                            COLOR CODE
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.CECLC1" *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.CECLC1" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.CECLC1 [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.CECLC1"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.CECLC1, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column22" [matColumnDef]="mgc.Column22">
                        <mat-header-cell *matHeaderCellDef>
                            Action
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <!-- <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button [magic]="mgc.btnEdit" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.btnEdit, row.rowId)">
                                    Edit
                                </button>
                            </div>
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button [magic]="mgc.btnDelete" [rowId]="row.rowId"
                                    [style.visibility]="mg.getVisible(mgc.btnDelete, row.rowId)">
                                    Delete
                                </button>
                            </div> -->

                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button class="btn-tbl" [magic]="mgc.btnEdit" 
                                [style.visibility]="mg.getVisible(mgc.btnEdit, row.rowId)" [rowId]="row.rowId">
                                      <i class="icon-xl far fa-edit text-info" aria-hidden="true"></i>    
                                </button>
                            </div>
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button class="btn-tbl" [magic]="mgc.btnDelete" 
                                [style.visibility]="mg.getVisible(mgc.btnDelete, row.rowId)" [rowId]="row.rowId">
                                    <i class="icon-xl fas fa-eraser text-danger" aria-hidden="true"></i>
                                </button>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null">
                    </mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [hidePageSize]="true" showFirstLastButtons
                    (page)="tableService.mgOnPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>