<div novalidate [formGroup]="screenFormGroup">
    <div [magic]="mgc.PCEngineData">
        <div class="m-tablewrapper pl-0 pr-0">
            <div class="example-container mat-elevation-z8 Table1TableContainerProps">
                <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                    (matSortChange)="tableService.sortData($event)">
                    <ng-container [magic]="mgc.Column2" [matColumnDef]="mgc.Column2">
                        <mat-header-cell *matHeaderCellDef>
                            P/C No.
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.PFG_DATA_PFG_PCNO"
                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.PFG_DATA_PFG_PCNO"
                                            [rowId]="row.rowId" [mask]="mg.getAlphaMask(mgc.PFG_DATA_PFG_PCNO)"
                                            [showMaskTyped]='true' />
                                        <mgError [magic]=mgc.PFG_DATA_PFG_PCNO [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.PFG_DATA_PFG_PCNO"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.PFG_DATA_PFG_PCNO, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column3" [matColumnDef]="mgc.Column3">
                        <mat-header-cell *matHeaderCellDef>
                            Lot No.
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.PFG_DATA_PFG_LTNO"
                                            *ngIf="mg.isRowInRowEditing(row)" currencyMask
                                            [options]="mg.getNumericPicture(mg.getPicture(mgc.PFG_DATA_PFG_LTNO))"
                                            [magic]="mgc.PFG_DATA_PFG_LTNO" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.PFG_DATA_PFG_LTNO [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.PFG_DATA_PFG_LTNO"
                                            [rowId]="row.rowId">
                                            {{mg.getFormattedValue(mgc.PFG_DATA_PFG_LTNO, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column4" [matColumnDef]="mgc.Column4">
                        <mat-header-cell *matHeaderCellDef>
                            Container
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.PFG_DATA_PFG_CNNO"
                                            *ngIf="mg.isRowInRowEditing(row)" currencyMask
                                            [options]="mg.getNumericPicture(mg.getPicture(mgc.PFG_DATA_PFG_CNNO))"
                                            [magic]="mgc.PFG_DATA_PFG_CNNO" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.PFG_DATA_PFG_CNNO [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.PFG_DATA_PFG_CNNO"
                                            [rowId]="row.rowId">
                                            {{mg.getFormattedValue(mgc.PFG_DATA_PFG_CNNO, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column5" [matColumnDef]="mgc.Column5">
                        <mat-header-cell *matHeaderCellDef>
                            Case
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.PFG_DATA_PFG_CSNO"
                                            *ngIf="mg.isRowInRowEditing(row)" currencyMask
                                            [options]="mg.getNumericPicture(mg.getPicture(mgc.PFG_DATA_PFG_CSNO))"
                                            [magic]="mgc.PFG_DATA_PFG_CSNO" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.PFG_DATA_PFG_CSNO [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.PFG_DATA_PFG_CSNO"
                                            [rowId]="row.rowId">
                                            {{mg.getFormattedValue(mgc.PFG_DATA_PFG_CSNO, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column6" [matColumnDef]="mgc.Column6">
                        <mat-header-cell *matHeaderCellDef>
                            Carton
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.PFG_DATA_PFG_CRNO"
                                            *ngIf="mg.isRowInRowEditing(row)" currencyMask
                                            [options]="mg.getNumericPicture(mg.getPicture(mgc.PFG_DATA_PFG_CRNO))"
                                            [magic]="mgc.PFG_DATA_PFG_CRNO" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.PFG_DATA_PFG_CRNO [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.PFG_DATA_PFG_CRNO"
                                            [rowId]="row.rowId">
                                            {{mg.getFormattedValue(mgc.PFG_DATA_PFG_CRNO, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column7" [matColumnDef]="mgc.Column7">
                        <mat-header-cell *matHeaderCellDef>
                            Engine No.
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.PFG_DATA_PFG_FGNO"
                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.PFG_DATA_PFG_FGNO"
                                            [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.PFG_DATA_PFG_FGNO [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.PFG_DATA_PFG_FGNO"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.PFG_DATA_PFG_FGNO, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null">
                    </mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [hidePageSize]="true"
                    (page)="tableService.mgOnPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>