<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.ENGINEDETAILS"
    >
        <div style="display: flex; flex-direction: row">
            <div class="example-container mat-elevation-z8 Table1TableContainerProps">
                <mat-table
                    #table
                    [dataSource]="dataSource"
                    class="container_border"
                    matSort
                    matSortDisableClear
                    (matSortChange)="tableService.sortData($event)"
                >
                    <ng-container
                        [magic]="mgc.Column2"
                        [matColumnDef]="mgc.Column2"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Engine No.
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.WRK_EGNO_EGNO"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.WRK_EGNO_EGNO"
                                            [rowId]="row.rowId"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.WRK_EGNO_EGNO
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.WRK_EGNO_EGNO"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getValue(mgc.WRK_EGNO_EGNO, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row
                        *matRowDef="let row; columns: displayedColumns;"
                        class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}"
                        [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null"
                    >
                    </mat-row>
                </mat-table>
                <mat-paginator
                    #paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20]"
                    (page)="tableService.mgOnPaginateChange($event)"
                >
                </mat-paginator>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.Save_v">
                {{mg.getValue(mgc.Save_v)}}
            </button>
        </div>
    </div>
</div>