<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.CASELABELPRINT"
    >
        <div style="display: flex; flex-direction: row">
            <div *ngIf="mg.isImageExists(mgc.Image1)">
                <img
                    [magic]="mgc.Image1"
                    [src]="mg.getImage(mgc.Image1)"
                />
            </div>
            <label [magic]="mgc.Edit3">
                {{mg.getValue(mgc.Edit3)
| magicDate : mgc.Edit3}}
            </label>
            <label [magic]="mgc.Edit2">
                {{mg.getValue(mgc.Edit2) }}
            </label>
            <label [magic]="mgc.Edit4">
                {{mg.getValue(mgc.Edit4)
| magicTime : mgc.Edit4}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Edit5">
                {{mg.getValue(mgc.Edit5) }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.btnexit">
                Back
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label8"
                [style.visibility]="mg.getVisible(mgc.Label8)"
                class="lable_overflow"
            >
                Date :
            </label>
            <input
                type="date"
                [formControlName]="mgc.Date_v"
                [magic]="mgc.Date_v"
                [style.visibility]="mg.getVisible(mgc.Date_v)"
                dateInput
            />
            <label
                [magic]="mgc.Label10"
                class="lable_overflow"
            >
                P/C No. :
            </label>
            <div>
                <input
                    style="width: 70%"
                    [formControlName]="mgc.PC_No_v"
                    [magic]="mgc.PC_No_v"
                    [mask]="mg.getAlphaMask(mgc.PC_No_v)"
                    [showMaskTyped]='true'
                />
                <mgError [magic]=mgc.PC_No_v> </mgError>
                <button
                    style="min-width: auto; margin: auto"
                    [magic]="mgc.PC_No_v"
                >...</button>
            </div>
            <label
                [magic]="mgc.Label12"
                [style.visibility]="mg.getVisible(mgc.Label12)"
                class="lable_overflow"
            >
                Dist :
            </label>
            <div>
                <input
                    [formControlName]="mgc.KDPCHED_PH_DSCD"
                    [magic]="mgc.KDPCHED_PH_DSCD"
                    mgFormat
                />
                <mgError [magic]=mgc.KDPCHED_PH_DSCD> </mgError>
            </div>
            <div>
                <input
                    [formControlName]="mgc.DSTBMST_DS_DSENAM"
                    [magic]="mgc.DSTBMST_DS_DSENAM"
                    mgFormat
                />
                <mgError [magic]=mgc.DSTBMST_DS_DSENAM> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <magic-subform [magic]="mgc.DatewiseCartonInquiry">
            </magic-subform>
        </div>
    </div>
</div>