<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.FRAMEDETAILS"
    >
        <div style="display: flex; flex-direction: row">
            <div>
                <input
                    [formControlName]="mgc.vFrameNo"
                    [magic]="mgc.vFrameNo"
                    mgFormat
                />
                <mgError [magic]=mgc.vFrameNo> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <magic-subform [magic]="mgc.Sub1">
            </magic-subform>
            <button [magic]="mgc.btnexit">
                Back
            </button>
            <button [magic]="mgc.Btn_Add">
                Add
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.Save_v">
                Save
            </button>
        </div>
    </div>
</div>