<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.PURCHASECONTRACTLOTLIST"
    >
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.btnexit">
                Back
            </button>
            <label [magic]="mgc.Edit1">
                {{mg.getValue(mgc.Edit1) }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <div class="example-container mat-elevation-z8 Table2TableContainerProps">
                <mat-table
                    #table
                    [dataSource]="dataSource"
                    class="container_border"
                    matSort
                    matSortDisableClear
                    (matSortChange)="tableService.sortData($event)"
                >
                    <ng-container
                        [magic]="mgc.Column3"
                        [matColumnDef]="mgc.Column3"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Lot No.
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.PKD_LTID_PKD_LTNO"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            currencyMask
                                            [options]="mg.getNumericPicture(mg.getPicture(mgc.PKD_LTID_PKD_LTNO))"
                                            [magic]="mgc.PKD_LTID_PKD_LTNO"
                                            [rowId]="row.rowId"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.PKD_LTID_PKD_LTNO
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PKD_LTID_PKD_LTNO"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getFormattedValue(mgc.PKD_LTID_PKD_LTNO, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column4"
                        [matColumnDef]="mgc.Column4"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Model Code
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.PKD_LTID_PKD_MDCD"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PKD_LTID_PKD_MDCD"
                                            [rowId]="row.rowId"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.PKD_LTID_PKD_MDCD
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PKD_LTID_PKD_MDCD"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getValue(mgc.PKD_LTID_PKD_MDCD, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column5"
                        [matColumnDef]="mgc.Column5"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Type
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.PKD_LTID_PKD_MDTY"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PKD_LTID_PKD_MDTY"
                                            [rowId]="row.rowId"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.PKD_LTID_PKD_MDTY
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PKD_LTID_PKD_MDTY"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getValue(mgc.PKD_LTID_PKD_MDTY, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column6"
                        [matColumnDef]="mgc.Column6"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Option
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.PKD_LTID_PKD_MDOP"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PKD_LTID_PKD_MDOP"
                                            [rowId]="row.rowId"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.PKD_LTID_PKD_MDOP
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PKD_LTID_PKD_MDOP"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getValue(mgc.PKD_LTID_PKD_MDOP, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column7"
                        [matColumnDef]="mgc.Column7"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Model Name
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.MTOCMST_MTMDN1"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.MTOCMST_MTMDN1"
                                            [rowId]="row.rowId"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.MTOCMST_MTMDN1
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.MTOCMST_MTMDN1"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getValue(mgc.MTOCMST_MTMDN1, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column8"
                        [matColumnDef]="mgc.Column8"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Lot Type
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.PKD_LTID_PKD_LTRF"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PKD_LTID_PKD_LTRF"
                                            [rowId]="row.rowId"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.PKD_LTID_PKD_LTRF
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PKD_LTID_PKD_LTRF"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getValue(mgc.PKD_LTID_PKD_LTRF, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column9"
                        [matColumnDef]="mgc.Column9"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Indication
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label
                                        [magic]="mgc.Edit16"
                                        [rowId]="row.rowId"
                                    >
                                        {{mg.getValue(mgc.Edit16, row.rowId)
}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row
                        *matRowDef="let row; columns: displayedColumns;"
                        class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}"
                        [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null"
                    >
                    </mat-row>
                </mat-table>
                <mat-paginator
                    #paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20]"
                    (page)="tableService.mgOnPaginateChange($event)"
                >
                </mat-paginator>
            </div>
        </div>
    </div>
</div>