<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.ChangeUserPassword"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.UserIdLbl"
                class="lable_overflow"
            >
                User ID:
            </label>
            <div>
                <input
                    [formControlName]="mgc.vUserIDEdit"
                    [magic]="mgc.vUserIDEdit"
                    mgFormat
                />
                <mgError [magic]=mgc.vUserIDEdit> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label10"
                class="lable_overflow"
            >
                Old Password:
            </label>
            <div>
                <input
                    [formControlName]="mgc.vOldPassword"
                    [magic]="mgc.vOldPassword"
                    [attr.required]=""
                    type="password"
                    mgFormat
                />
                <mgError [magic]=mgc.vOldPassword> </mgError>
            </div>
            <label
                [magic]="mgc.imgOldPass"
                [style.visibility]="mg.getVisible(mgc.imgOldPass)"
                class="lable_overflow"
            >
                imgOldPass
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.NewPasswordLbl"
                class="lable_overflow"
            >
                New Password:
            </label>
            <div>
                <input
                    [formControlName]="mgc.NewPasswordEdit"
                    [magic]="mgc.NewPasswordEdit"
                    [attr.required]=""
                    type="password"
                    mgFormat
                />
                <mgError [magic]=mgc.NewPasswordEdit> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.ConfirmNewPasswordLbl"
                class="lable_overflow"
            >
                Confirm New Password:
            </label>
            <div>
                <input
                    [formControlName]="mgc.ConfirmNewPasswordEdit"
                    [magic]="mgc.ConfirmNewPasswordEdit"
                    [attr.required]=""
                    type="password"
                    mgFormat
                />
                <mgError [magic]=mgc.ConfirmNewPasswordEdit> </mgError>
            </div>
            <label
                [magic]="mgc.imgConfirm"
                [style.visibility]="mg.getVisible(mgc.imgConfirm)"
                class="lable_overflow"
            >
                imgConfirm
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.ChangeBtn">
                Change
            </button>
            <button [magic]="mgc.CancelBtn">
                Cancel
            </button>
        </div>
    </div>
</div>