

<div novalidate [formGroup]="screenFormGroup">
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-2">
                <!--begin::Page Title-->
                <span class="svg-icon svg-icon-md svg-icon-danger mr-3">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                        height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <rect fill="#000000" x="4" y="4" width="7" height="7" rx="1.5"></rect>
                            <path
                                d="M5.5,13 L9.5,13 C10.3284271,13 11,13.6715729 11,14.5 L11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L5.5,20 C4.67157288,20 4,19.3284271 4,18.5 L4,14.5 C4,13.6715729 4.67157288,13 5.5,13 Z M14.5,4 L18.5,4 C19.3284271,4 20,4.67157288 20,5.5 L20,9.5 C20,10.3284271 19.3284271,11 18.5,11 L14.5,11 C13.6715729,11 13,10.3284271 13,9.5 L13,5.5 C13,4.67157288 13.6715729,4 14.5,4 Z M14.5,13 L18.5,13 C19.3284271,13 20,13.6715729 20,14.5 L20,18.5 C20,19.3284271 19.3284271,20 18.5,20 L14.5,20 C13.6715729,20 13,19.3284271 13,18.5 L13,14.5 C13,13.6715729 13.6715729,13 14.5,13 Z"
                                fill="#000000" opacity="0.3"></path>
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>
                <h5 class="text-dark font-weight-bold mt-5 mb-5 mr-5">Change Password</h5>
                <!--end::Page Title-->
                <!--begin::Actions-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200">
                </div>
                <span class="text-muted font-weight-bold mr-4"></span>

                <!--end::Actions-->
            </div>
        </div>
    </div>
    <div class="container-fluid" [magic]="mgc.ChangeUserPassword">
        <div class="row">
            <div class="col-lg-12 col-xxl-12">
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">User ID</label>
                    <div class="col-lg-4">
                        <input [formControlName]="mgc.vUserIDEdit" [magic]="mgc.vUserIDEdit" mgFormat
                            class="form-control">
                        <mgError [magic]="mgc.vUserIDEdit"> </mgError>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Old Password</label>
                    <div class="col-lg-4">
                        <input class="form-control" [formControlName]="mgc.vOldPassword" [magic]="mgc.vOldPassword"
                            [attr.required]="" type="password" mgFormat />
                        <!-- <mgError class="text-danger" [magic]="mgc.vOldPassword"> </mgError> -->
                    </div>
                    <div class="tick"><button class="btn btn-icon-success" [magic]="mgc.imgOldPass"
                            *ngIf="mg.getVisible(mgc.imgOldPass)==='visible'">
                            <span class="svg-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                    viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24" />
                                        <path
                                            d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z"
                                            fill="#000000" fill-rule="nonzero"
                                            transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002) " />
                                    </g>
                                </svg></span>
                        </button></div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">New Password</label>
                    <div class="col-lg-4">
                        <input [formControlName]="mgc.NewPasswordEdit" [magic]="mgc.NewPasswordEdit" [attr.required]=""
                            type="password" mgFormat class="form-control" />
                        <!-- <mgError class="text-danger" [magic]="mgc.NewPasswordEdit"> </mgError> -->
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Confirm Password</label>
                    <div class="col-lg-4">
                        <input [formControlName]="mgc.ConfirmNewPasswordEdit" [magic]="mgc.ConfirmNewPasswordEdit"
                            [attr.required]="" type="password" mgFormat class="form-control" />
                        <!-- <mgError class="text-danger" [magic]="mgc.ConfirmNewPasswordEdit"> </mgError> -->
                    </div>
                    <div class="tick"><label class="btn btn-icon-success" [magic]="mgc.imgOldPass"
                            *ngIf="mg.getVisible(mgc.imgConfirm)==='visible'">
                            <span class="svg-icon"><svg xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                    viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon points="0 0 24 0 24 24 0 24" />
                                        <path
                                            d="M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z"
                                            fill="#000000" fill-rule="nonzero"
                                            transform="translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002) " />
                                    </g>
                                </svg></span>
                        </label></div>
                </div>

                     <div *ngIf="mg.getVisible(mgc.ErrorMsg)==='visible'" class="form-group row">
                    <label class="col-lg-2 col-form-label"></label>
                    <div class="col-lg-4">
                         <label class="text-danger" [magic]="mgc.ErrorMsg">
                                        {{mg.getText(mgc.ErrorMsg)}}
                                    </label>
                    </div>

                </div>

                  <!-- <div class="fv-plugins-message-container" *ngIf="mg.getVisible(mgc.ErrorMsg)==='visible'" >
                                    <label class="text-danger" [magic]="mgc.ErrorMsg">
                                        {{mg.getText(mgc.ErrorMsg)}}
                                    </label>
                                </div> -->

            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4 mt-5 ml-5">
                        <button [magic]="mgc.CancelBtn" class="btn btn-secondary mr-3">Cancel</button>
                        <button [magic]="mgc.ChangeBtn" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>