

<div novalidate [formGroup]="screenFormGroup">
    <div [magic]="mgc.CartonTypes">
        <div class="m-tablewrapper pl-0 pr-0">
            <div class="example-container mat-elevation-z8 Table2TableContainerProps">
                <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                    (matSortChange)="tableService.sortData($event)">
                    <ng-container [magic]="mgc.Column3" [matColumnDef]="mgc.Column3">
                        <mat-header-cell *matHeaderCellDef>
                            STATION CODE
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.WRK_CRTY_STAN" *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.WRK_CRTY_STAN" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.WRK_CRTY_STAN [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.WRK_CRTY_STAN"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.WRK_CRTY_STAN, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column4" [matColumnDef]="mgc.Column4">
                        <mat-header-cell *matHeaderCellDef>
                            TYPE
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.WRK_CRTYPE"
                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.WRK_CRTYPE"
                                            [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.WRK_CRTYPE [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.WRK_CRTYPE"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.WRK_CRTYPE, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column5" [matColumnDef]="mgc.Column5">
                        <mat-header-cell *matHeaderCellDef>
                           CODE
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.WRK_CRTY_CODE"
                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.WRK_CRTY_CODE"
                                            [magic]="mgc.WRK_CRTY_CODE" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.WRK_CRTY_CODE [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.WRK_CRTY_CODE"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.WRK_CRTY_CODE, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column6" [matColumnDef]="mgc.Column6">
                        <mat-header-cell *matHeaderCellDef>
                            DESC
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.PK_MAST_DESC"
                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.PK_MAST_DESC"
                                            [magic]="mgc.PK_MAST_DESC" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.PK_MAST_DESC [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.PK_MAST_DESC"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.PK_MAST_DESC, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column7" [matColumnDef]="mgc.Column7">
                        <mat-header-cell *matHeaderCellDef>
                            LENG
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.PK_MAST_LENG"
                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.PK_MAST_LENG"
                                            [magic]="mgc.PK_MAST_LENG" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.PK_MAST_LENG [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.PK_MAST_LENG"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.PK_MAST_LENG, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                   <ng-container [magic]="mgc.Column8" [matColumnDef]="mgc.Column8">
                        <mat-header-cell *matHeaderCellDef>
                           HEIG
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.PK_MAST_HEIG"
                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.PK_MAST_HEIG"
                                            [magic]="mgc.PK_MAST_HEIG" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.PK_MAST_HEIG [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.PK_MAST_HEIG"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.PK_MAST_HEIG, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                        </ng-container>
                 
                        <ng-container [magic]="mgc.Column9" [matColumnDef]="mgc.Column9">
                        <mat-header-cell *matHeaderCellDef>
                           WIDT
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.PK_MAST_WIDT"
                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.PK_MAST_WIDT"
                                            [magic]="mgc.PK_MAST_WIDT" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.PK_MAST_WIDT [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.PK_MAST_WIDT"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.PK_MAST_WIDT, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                        </ng-container>
                    
                        <ng-container [magic]="mgc.Column10" [matColumnDef]="mgc.Column10">
                        <mat-header-cell *matHeaderCellDef>
                          QUANTITY
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.WRK_CRTY_WRK_CRTY_CQTY"
                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.WRK_CRTY_WRK_CRTY_CQTY"
                                            [magic]="mgc.WRK_CRTY_WRK_CRTY_CQTY" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.WRK_CRTY_WRK_CRTY_CQTY [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.WRK_CRTY_WRK_CRTY_CQTY"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.WRK_CRTY_WRK_CRTY_CQTY, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                        </ng-container>
                  
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null">
                    </mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="5"  [hidePageSize]="true" showFirstLastButtons
                    (page)="tableService.mgOnPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>
        <div class="row">
             
                            <button style="margin-left: 10px;" type="button" [magic]="mgc.Print_Button_v1"
                            class="btn btn-primary font-weight-bold ">Print</button>
                            
                        
                            <button style="margin-left: 10px;" type="button" [magic]="mgc.Exit_Button_v1"
                            class="btn btn-primary font-weight-bold ">Exit</button>
                            </div>
                           

                         
    </div>
</div>