<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.CKDMONTHLYRESULTSUMMARY"
    >
        <div style="display: flex; flex-direction: row">
            <div *ngIf="mg.isImageExists(mgc.Image1)">
                <img
                    [magic]="mgc.Image1"
                    [src]="mg.getImage(mgc.Image1)"
                />
            </div>
            <label [magic]="mgc.Edit3">
                {{mg.getValue(mgc.Edit3)
| magicDate : mgc.Edit3}}
            </label>
            <label [magic]="mgc.Edit2">
                {{mg.getValue(mgc.Edit2) }}
            </label>
            <label [magic]="mgc.Edit4">
                {{mg.getValue(mgc.Edit4)
| magicTime : mgc.Edit4}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Edit5">
                {{mg.getValue(mgc.Edit5) }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.btnexit">
                Back
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label7"
                class="lable_overflow"
            >
            </label>
            <label
                [magic]="mgc.Label8"
                class="lable_overflow"
            >
                Month :
            </label>
            <input
                type="date"
                [formControlName]="mgc.Month_v"
                [magic]="mgc.Month_v"
                dateInput
            />
            <label [magic]="mgc.Edit10">
                {{mg.getValue(mgc.Edit10) }}
            </label>
            <button [magic]="mgc.OK_v">
                {{mg.getValue(mgc.OK_v)}}
            </button>
        </div>
    </div>
</div>