

<div novalidate [formGroup]="screenFormGroup">
    <div [magic]="mgc.SELECTPURCHASECONTRACT">
	  <div class="card">
             <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                           SELECT PURCHASE CONTRACT
                        </label></h3>
                         <label class="lable_overflow mb-0">
                            {{mg.getText(mgc.Edit1)}}
                        </label>
                    <div class="d-flex align-items-center">

                        <button type="button" [magic]="mgc.btnexit"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                    </div>
                </div> 
             </div>
                </div>
        <div class="m-tablewrapper pl-0 pr-0">
            <div class="example-container mat-elevation-z8 Table1TableContainerProps">
                <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                    (matSortChange)="tableService.sortData($event)">
                    <ng-container [magic]="mgc.Column4" [matColumnDef]="mgc.Column4">
                        <mat-header-cell *matHeaderCellDef>
                           
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.WRK_PCNO_SLFL" *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.WRK_PCNO_SLFL" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.WRK_PCNO_SLFL [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.WRK_PCNO_SLFL"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.WRK_PCNO_SLFL, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column5" [matColumnDef]="mgc.Column5">
                        <mat-header-cell *matHeaderCellDef>
                            Pc No
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.WRK_PCNO_WRK_PCNO_PCNO"
                                            *ngIf="mg.isRowInRowEditing(row)" type='number'
                                            [magic]="mgc.WRK_PCNO_WRK_PCNO_PCNO" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.WRK_PCNO_WRK_PCNO_PCNO [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.WRK_PCNO_WRK_PCNO_PCNO"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.WRK_PCNO_WRK_PCNO_PCNO, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column6" [matColumnDef]="mgc.Column6">
                        <mat-header-cell *matHeaderCellDef>
                           Dist 
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.KDPCHED_PH_DSCD"
                                            *ngIf="mg.isRowInRowEditing(row)" type='number'
                                            [magic]="mgc.KDPCHED_PH_DSCD" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.KDPCHED_PH_DSCD [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.KDPCHED_PH_DSCD"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.KDPCHED_PH_DSCD, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                            <ng-container [magic]="mgc.Column7" [matColumnDef]="mgc.Column7">
                        <mat-header-cell *matHeaderCellDef>
                           Dist Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input [formControlName]="mgc.DSTBMST_DS_DSENAM"
                                            *ngIf="mg.isRowInRowEditing(row)" type='number'
                                            [magic]="mgc.DSTBMST_DS_DSENAM" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.DSTBMST_DS_DSENAM [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.DSTBMST_DS_DSENAM"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.DSTBMST_DS_DSENAM, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null">
                    </mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [hidePageSize]="true"
                    (page)="tableService.mgOnPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>
    
         <div class="form-group row">
                            <div class="col-lg-4">
                                <div class="form-group-sm">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group-sm">
                                    <button type="button" [magic]="mgc.Ok_Button_v"
                                        class="btn btn-primary font-weight-bold mr-3 btn-wdth">
                                        OK
                                    </button>
                                </div>
                            </div>
                          
                             <div class="col-lg-4">
                                <div class="form-group-sm">
                                </div>
                            </div>



                    </div>
		   <!-- <button type="button" [magic]="mgc.Ok_Button_v"
                            class="btn btn-primary btn-sm font-weight-bold ml-2">OK</button> -->
                     
   
</div>
</div>