<div novalidate [formGroup]="screenFormGroup">
    <div [magic]="mgc.PARTSDETAILS">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                            PARTS DETAILS
                        </label></h3>
                    <label class="lable_overflow mb-0">
                        {{mg.getText(mgc.Edit1)}}
                    </label>
                    <div class="d-flex align-items-center">
                        <button type="button" [magic]="mgc.btnexit"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: row">
                <label class="lbl_title mr-2">
                    Lot:
                </label>
                <label class="lbl_table mt-1 mr-2" [magic]="mgc.V_Lot_Id_v">
                    {{mg.getValue(mgc.V_Lot_Id_v) }}
                </label>
                <label class="lbl_title mr-2">
                    Container:
                </label>
                <label class="lbl_table mt-1 mr-2" [magic]="mgc.WRK_CONT_WRK_CONT_CNCD">
                    {{mg.getValue(mgc.WRK_CONT_WRK_CONT_CNCD) }}
                </label>
                <label class="lbl_title mr-2">
                    Case:
                </label>
                <label class="lbl_table mt-1 mr-2" [magic]="mgc.WRK_CASE_WRK_CASE_CSCD">
                    {{mg.getValue(mgc.WRK_CASE_WRK_CASE_CSCD) }}
                </label>

                <label class="lbl_title mr-2">
                    E/F:
                </label>
                <label class="lbl_table mt-1 mr-2" [magic]="mgc.Edit14">
                    {{mg.getValue(mgc.Edit14) }}
                </label>
            </div>
        </div>
        <div
            class="container-fluid d-flex align-items-center justify-content-sm-between justify-content-center flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mb-2">
                <div class="d-flex align-items-center ser-bt1">
                    <div></div><button type="button" class="btn btn-sm btn-success" [magic]="mgc.btnAdd"
                        *ngIf="mg.getVisible(mgc.btnAdd)==='visible'">
                        <i class="flaticon-app mr-2"></i>ADD PART DETAILS
                    </button>
                </div>
            </div>
        </div>
        <div class="m-tablewrapper pl-0 pr-0">
            <div class="example-container mat-elevation-z8 Table16TableContainerProps">
                <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                    (matSortChange)="tableService.sortData($event)">
                    <ng-container [magic]="mgc.Column17" [matColumnDef]="mgc.Column17">
                        <mat-header-cell *matHeaderCellDef>
                            Part No.
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input style="width: 70%" [formControlName]="mgc.WRK_PART_PART"
                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.WRK_PART_PART"
                                            [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.WRK_PART_PART [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.WRK_PART_PART"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.WRK_PART_PART, row.rowId)
                                            }}
                                        </label>
                                        <button class="btn-primary" style="min-width: auto; margin: auto" [magic]="mgc.WRK_PART_PART"
                                            [rowId]="row.rowId">...</button>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column18" [matColumnDef]="mgc.Column18">
                        <mat-header-cell *matHeaderCellDef>
                            Part Name
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label [magic]="mgc.PT_NAM" [rowId]="row.rowId">
                                        {{mg.getValue(mgc.PT_NAM, row.rowId)
                                        }}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column19" [matColumnDef]="mgc.Column19">
                        <mat-header-cell *matHeaderCellDef>
                            Model Code
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input class="form-control-tbl" [formControlName]="mgc.WRK_PART_WRK_PART_PMCD"
                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.WRK_PART_WRK_PART_PMCD"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.WRK_PART_WRK_PART_PMCD, row.rowId)"
                                            mgFormat />
                                        <mgError [magic]=mgc.WRK_PART_WRK_PART_PMCD [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.WRK_PART_WRK_PART_PMCD"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.WRK_PART_WRK_PART_PMCD, row.rowId)">
                                            {{mg.getValue(mgc.WRK_PART_WRK_PART_PMCD, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column20" [matColumnDef]="mgc.Column20">
                        <mat-header-cell *matHeaderCellDef>
                            From
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div *ngIf="mg.isRowInRowEditing(row)" style="display: flex; flex-direction: row">
                                        <input class="form-control-tbl" type="date" [formControlName]="mgc.VEF_DAT" [magic]="mgc.VEF_DAT"
                                            [rowId]="row.rowId" dateInput />
                                    </div>
                                    <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.VEF_DAT" [rowId]="row.rowId">
                                        {{mg.getValue(mgc.VEF_DAT, row.rowId)
                                        | magicDate : mgc.VEF_DAT}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column21" [matColumnDef]="mgc.Column21">
                        <mat-header-cell *matHeaderCellDef>
                            To
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div *ngIf="mg.isRowInRowEditing(row)" style="display: flex; flex-direction: row">
                                        <input class="form-control-tbl" type="date" [formControlName]="mgc.VED_DAT" [magic]="mgc.VED_DAT"
                                            [rowId]="row.rowId" dateInput />
                                    </div>
                                    <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.VED_DAT" [rowId]="row.rowId">
                                        {{mg.getValue(mgc.VED_DAT, row.rowId)
                                        | magicDate : mgc.VED_DAT}}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column22" [matColumnDef]="mgc.Column22">
                        <mat-header-cell *matHeaderCellDef>
                            Weight
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input class="form-control-tbl" [formControlName]="mgc.CKD_PART_MAST_PRT_WGT"
                                            *ngIf="mg.isRowInRowEditing(row)" currencyMask
                                            [options]="mg.getNumericPicture(mg.getPicture(mgc.CKD_PART_MAST_PRT_WGT))"
                                            [magic]="mgc.CKD_PART_MAST_PRT_WGT" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.CKD_PART_MAST_PRT_WGT [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.CKD_PART_MAST_PRT_WGT"
                                            [rowId]="row.rowId">
                                            {{mg.getFormattedValue(mgc.CKD_PART_MAST_PRT_WGT, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column23" [matColumnDef]="mgc.Column23">
                        <mat-header-cell *matHeaderCellDef>PART QTY
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input class="form-control-tbl" [formControlName]="mgc.WRK_PART_PQTY" *ngIf="mg.isRowInRowEditing(row)"
                                            type='number' [magic]="mgc.WRK_PART_PQTY" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.WRK_PART_PQTY [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.WRK_PART_PQTY"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.WRK_PART_PQTY, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column24" [matColumnDef]="mgc.Column24">
                        <mat-header-cell *matHeaderCellDef>
                            EXTRA PCS.
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input class="form-control-tbl" [formControlName]="mgc.WRK_PART_EXPCS" *ngIf="mg.isRowInRowEditing(row)"
                                            type='number' [magic]="mgc.WRK_PART_EXPCS" [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.WRK_PART_EXPCS [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.WRK_PART_EXPCS"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.WRK_PART_EXPCS, row.rowId)
                                            }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column25" [matColumnDef]="mgc.Column25">
                        <mat-header-cell *matHeaderCellDef>
                            Color
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input type="checkbox" [formControlName]="mgc.WRK_PART_COLOR"
                                            [magic]="mgc.WRK_PART_COLOR" [rowId]="row.rowId"
                                            id="WRK_PART_COLOR_{{row.rowId}}" />
                                        
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column26" [matColumnDef]="mgc.Column26">
                        <mat-header-cell *matHeaderCellDef>
                            Frame
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input type="checkbox" [formControlName]="mgc.WRK_PART_FRAME_FLAG"
                                            [magic]="mgc.WRK_PART_FRAME_FLAG" [rowId]="row.rowId"
                                            id="WRK_PART_FRAME_FLAG_{{row.rowId}}" />
                                        
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column38" [matColumnDef]="mgc.Column38">
                        <mat-header-cell *matHeaderCellDef>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button  class="btn-tbl" *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.EnterRowEditing"
                                    [rowId]="row.rowId">
                                    <i class="icon-xl far fa-edit text-info" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button class="btn-tbl" *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.SaveRowEditing"
                                    [rowId]="row.rowId">
                                     <i class="icon-xl far fa-save text-success" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button class="btn-tbl" *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.CancelRowEditing"
                                    [rowId]="row.rowId">
                                    <i class="icon-xl fas fa-eraser  text-danger" aria-hidden="true"></i>
                                </button>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null">
                    </mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10"  [hidePageSize]="true"
                    (page)="tableService.mgOnPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</div>