.mat-header-row {
    background: none;
    background-color: #008080 ! important;
    color: #ffffff;
}

.mat-mdc-cell:first-child {
    flex: 0 0 15%;
    padding-left: 2px;
}
.mat-mdc-header-cell:first-child {
    flex: 0 0 15%;
    padding-left: 2px;
}
 .mat-mdc-cell:nth-child(2) {
    flex: 0 0 17%;
}
.mat-mdc-header-cell:nth-child(2) {
    flex: 0 0 17%;
} 
 .mat-mdc-cell:nth-child(4){
  flex: 0 0 11%;
}
.mat-mdc-header-cell:nth-child(4){
  flex: 0 0 11%;
}
 .mat-mdc-cell:nth-child(5){
  flex: 0 0 11%;
}
.mat-mdc-header-cell:nth-child(5){
  flex: 0 0 11%;
}
 .mat-mdc-cell:nth-child(7){
  flex: 0 0 8%;
}
.mat-mdc-header-cell:nth-child(7){
  flex: 0 0 8%;
}
 .mat-mdc-cell:nth-child(8){
  flex: 0 0 5%;
}
.mat-mdc-header-cell:nth-child(8){
  flex: 0 0 5%;
}
 .mat-mdc-cell:nth-child(9){
  flex: 0 0 5%;
}
.mat-mdc-header-cell:nth-child(9){
  flex: 0 0 5%;
}
.mat-mdc-cell:nth-child(11){
   justify-content: flex-end;
}
.mat-mdc-header-cell:nth-child(11){
   justify-content: flex-end;
} 
