<div>
  <UL class="menu-nav">
    <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover" *ngFor="let item of _source">
    
<a href="javascript:;" class="menu-link menu-toggle">
<span [className]="item.icon"></span>
<span class="menu-text" *ngIf="!item.children" [routerLink]=item.url>{{item.name}}</span>
<span class="menu-text" *ngIf="item.children">{{item.name}}</span>
<i *ngIf="item.children" class="menu-arrow"></i>
</a>
         
 <div *ngIf="item.children" class="menu-submenu">
     <Menu [source]="item.children" class="menujsonsub"></Menu>
 </div>
 </li>
  </UL>
</div>



