<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.PackingMatCM">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                            Packing Material : CM
                        </label></h3>
                    <div class="d-flex align-items-center">
                        <button type="button" [magic]="mgc.btnexit"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row" style="margin: 0rem;">
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-12">
                                <div class="form-group-sm">
                                    <label> TYPE:</label>
                                    <select class="form-control-ed" multiple [magic]="mgc.TYPE"
                                        [formControlName]="mgc.TYPE">
                                        <option *ngFor="let o of mg.getItemListValues(mgc.TYPE);" [value]="o.index">
                                            {{o.displayValue}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group-sm">
                                    <label>MATERIAL CODE</label>
                                    <input class="form-control-ed" [formControlName]="mgc.CODE" [magic]="mgc.CODE"
                                        mgFormat />
                                    <mgError [magic]=mgc.CODE> </mgError>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group-sm">
                                    <label>DESCRIPTIOIN</label>
                                    <input class="form-control-ed" [formControlName]="mgc.DESC" [magic]="mgc.DESC"
                                        mgFormat />
                                    <mgError [magic]=mgc.DESC> </mgError>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group-sm">
                                    <label>LENGTH (In MM)</label>
                                    <input class="form-control-ed" [formControlName]="mgc.LENG" type='number'
                                        [magic]="mgc.LENG" mgFormat />
                                    <mgError [magic]=mgc.LENG> </mgError>
                                </div>
                            </div>
                                <div class="col-lg-6">
                                <div class="form-group-sm">
                                    <label> WIDTH (In MM)</label>
                                    <input class="form-control-ed" [formControlName]="mgc.WIDT" type='number'
                                        [magic]="mgc.WIDT" mgFormat />
                                    <mgError [magic]=mgc.WIDT> </mgError>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group-sm">
                                    <label> HEIGHT (In MM)</label>
                                    <input class="form-control-ed" [formControlName]="mgc.HEIG" type='number'
                                        [magic]="mgc.HEIG" mgFormat />
                                    <mgError [magic]=mgc.HEIG> </mgError>
                                </div>
                            </div>
                        
                            <div class="col-lg-6">
                                <div class="form-group-sm">
                                    <label> WEIGHT (In GM)</label>
                                    <input class="form-control-ed" [formControlName]="mgc.WEIG" type='number'
                                        [magic]="mgc.WEIG" mgFormat />
                                    <mgError [magic]=mgc.WEIG> </mgError>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group-sm">
                                    <label>EFFECTIVE DATE:</label>
                                    <input class="form-control-ed" type="date" [formControlName]="mgc.EF_DT"
                                        [magic]="mgc.EF_DT" dateInput />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group-sm">
                                    <label>END DATE:</label>
                                    <input class="form-control-ed" type="date" [formControlName]="mgc.ED_DT"
                                        [magic]="mgc.ED_DT" dateInput />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group-sm">
                                    <label> VARIENCE</label>
                                    <input class="form-control-ed" [formControlName]="mgc.VARNC" type='number'
                                        [magic]="mgc.VARNC" mgFormat />
                                    <mgError [magic]=mgc.VARNC> </mgError>
                                </div>
                            </div>
                               <label [magic]="mgc.Label28" class="text-danger mb-5"  >
                        {{mg.getText(mgc.Label28)}}
                    </label>
                        </div>
                    </div>

                    <div class="col-lg-12 col-xxl-12">
                          <div class="form-group row">
                            <div class="col-lg-4">
                                <div class="form-group-sm">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group-sm">
                                    <button type="button" [magic]="mgc.btnSave"
                                        class="btn btn-primary font-weight-bold mr-3 btn-wdth">
                                        SAVE
                                    </button>
                                </div>
                            </div>
                             <div class="col-lg-4">
                                <div class="form-group-sm">
                                </div>
                            </div>
                    </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>