<div style="background-color: rgb(14, 235, 87);" novalidate [formGroup]="screenFormGroup">
    <div class="d-flex flex-column flex-column-fluid" [magic]="mgc.VPRDS013SUCCESS">
        <div class="row">
            <div class="col-lg-12 col-xxl-12">
                <div class="form-group row">
                    <div class="col-lg-12">
                        <label style="background-color: rgb(7, 143, 41); text-align: center; width: 100%;"
                            class="font-weight-bolder font-size-h2 text-white">
                            VPRDS013 SUCCESS
                        </label>
                    </div>
                    <div class="col-lg-12">
                        <label class="lbl_title" [magic]="mgc.V_MESSAGE_P">
                            {{ mg.getValue(mgc.V_MESSAGE_P) }}
                        </label>
                    </div>
                    <div class="col-lg-12">
                        <label [magic]="mgc.Label2" class="lbl_title">
                            Click or press return key to continue!
                        </label>
                    </div>
                    <div class="col-lg-12 mt-8">
                        <div class="form-group">
                            <button type="button" [magic]="mgc.btn_Close"
                                class="btn btn-success font-weight-bold mr-3 btn-wdth">RETURN</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>