<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.GetPassword4"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
                Enter Password:
            </label>
            <div>
                <input
                    [formControlName]="mgc.v_Get_pass"
                    [magic]="mgc.v_Get_pass"
                    [attr.required]=""
                    type="password"
                    mgFormat
                />
                <mgError [magic]=mgc.v_Get_pass> </mgError>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <button
                [magic]="mgc.v_Ok"
                [disabled]="mg.isDisabled(mgc.v_Ok )"
            >
                Ok
            </button>
            <button [magic]="mgc.v_Cancel">
                Cancel
            </button>
        </div>
    </div>
</div>