<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.PartUpdationByDCNChangeRp"
    >
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
                <<
                    UPDATION
                    REPORT
                >>
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <div
                [magic]="mgc.v_Range"
                (change)="task.mgOnRadioSelectionChanged(mgc.v_Range)"
            >
                <div *ngFor="let o of mg.getItemListValues(mgc.v_Range);">
                    <label>
                        <input
                            type="radio"
                            [formControlName]="mgc.v_Range"
                            [value]="o.index"
                        />
                        {{o.displayValue}}
                    </label>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label2"
                [style.visibility]="mg.getVisible(mgc.Label2)"
                class="lable_overflow"
            >
                ENTER FROM DATE:
            </label>
            <label
                [magic]="mgc.Label3"
                [style.visibility]="mg.getVisible(mgc.Label3)"
                class="lable_overflow"
            >
                ENTER DCN NO.:
            </label>
            <label
                [magic]="mgc.Label4"
                [style.visibility]="mg.getVisible(mgc.Label4)"
                class="lable_overflow"
            >
                ENTER LOT NO.:
            </label>
            <label
                [magic]="mgc.Label5"
                [style.visibility]="mg.getVisible(mgc.Label5)"
                class="lable_overflow"
            >
                ENTER PC NO.:
            </label>
            <label
                [magic]="mgc.Label6"
                [style.visibility]="mg.getVisible(mgc.Label6)"
                class="lable_overflow"
            >
                ENTER MONTH:
            </label>
            <input
                type="date"
                [formControlName]="mgc.v_DateF"
                [magic]="mgc.v_DateF"
                [style.visibility]="mg.getVisible(mgc.v_DateF)"
                dateInput
            />
            <div>
                <input
                    [formControlName]="mgc.v_DCN_No"
                    [magic]="mgc.v_DCN_No"
                    [style.visibility]="mg.getVisible(mgc.v_DCN_No)"
                    mgFormat
                />
                <mgError [magic]=mgc.v_DCN_No> </mgError>
            </div>
            <div>
                <input
                    [formControlName]="mgc.v_LotNo"
                    [magic]="mgc.v_LotNo"
                    [style.visibility]="mg.getVisible(mgc.v_LotNo)"
                    mgFormat
                />
                <mgError [magic]=mgc.v_LotNo> </mgError>
            </div>
            <div>
                <input
                    [formControlName]="mgc.v_PCNo"
                    [magic]="mgc.v_PCNo"
                    [style.visibility]="mg.getVisible(mgc.v_PCNo)"
                    mgFormat
                />
                <mgError [magic]=mgc.v_PCNo> </mgError>
            </div>
            <input
                type="date"
                [formControlName]="mgc.v_Month"
                [magic]="mgc.v_Month"
                [style.visibility]="mg.getVisible(mgc.v_Month)"
                dateInput
            />
            <label
                [magic]="mgc.Label12"
                [style.visibility]="mg.getVisible(mgc.Label12)"
                class="lable_overflow"
            >
                TO:
            </label>
            <input
                type="date"
                [formControlName]="mgc.v_DateT"
                [magic]="mgc.v_DateT"
                [style.visibility]="mg.getVisible(mgc.v_DateT)"
                dateInput
            />
        </div>
    </div>
</div>