<div
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        [magic]="mgc.PickingListInquiry"
    >
        <div style="display: flex; flex-direction: row">
            <div class="example-container mat-elevation-z8 Table2TableContainerProps">
                <mat-table
                    #table
                    [dataSource]="dataSource"
                    class="container_border"
                    matSort
                    matSortDisableClear
                    (matSortChange)="tableService.sortData($event)"
                >
                    <ng-container
                        [magic]="mgc.Column3"
                        [matColumnDef]="mgc.Column3"
                    >
                        <mat-header-cell *matHeaderCellDef>
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.WRK_PKPL_SLFL"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.WRK_PKPL_SLFL"
                                            [rowId]="row.rowId"
                                            mgFormat
                                            rangevalidator
                                        />
                                        <mgError
                                            [magic]=mgc.WRK_PKPL_SLFL
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.WRK_PKPL_SLFL"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getValue(mgc.WRK_PKPL_SLFL, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column4"
                        [matColumnDef]="mgc.Column4"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            P/C No.
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.WRK_PKPL_WRK_PKPL_PCNO"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.WRK_PKPL_WRK_PKPL_PCNO"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.WRK_PKPL_WRK_PKPL_PCNO, row.rowId)"
                                            [mask]="mg.getAlphaMask(mgc.WRK_PKPL_WRK_PKPL_PCNO)"
                                            [showMaskTyped]='true'
                                        />
                                        <mgError
                                            [magic]=mgc.WRK_PKPL_WRK_PKPL_PCNO
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.WRK_PKPL_WRK_PKPL_PCNO"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.WRK_PKPL_WRK_PKPL_PCNO, row.rowId)"
                                        >
                                            {{mg.getValue(mgc.WRK_PKPL_WRK_PKPL_PCNO, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column5"
                        [matColumnDef]="mgc.Column5"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Lot No.
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.WRK_PKPL_WRK_PKPL_LTNO"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            currencyMask
                                            [options]="mg.getNumericPicture(mg.getPicture(mgc.WRK_PKPL_WRK_PKPL_LTNO))"
                                            [magic]="mgc.WRK_PKPL_WRK_PKPL_LTNO"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.WRK_PKPL_WRK_PKPL_LTNO, row.rowId)"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.WRK_PKPL_WRK_PKPL_LTNO
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.WRK_PKPL_WRK_PKPL_LTNO"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.WRK_PKPL_WRK_PKPL_LTNO, row.rowId)"
                                        >
                                            {{mg.getFormattedValue(mgc.WRK_PKPL_WRK_PKPL_LTNO, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column6"
                        [matColumnDef]="mgc.Column6"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Model
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.PKD_LTID_PKD_MDCD"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PKD_LTID_PKD_MDCD"
                                            [rowId]="row.rowId"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.PKD_LTID_PKD_MDCD
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PKD_LTID_PKD_MDCD"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getValue(mgc.PKD_LTID_PKD_MDCD, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column7"
                        [matColumnDef]="mgc.Column7"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Container
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.WRK_PKPL_WRK_PKPL_CNNO"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            currencyMask
                                            [options]="mg.getNumericPicture(mg.getPicture(mgc.WRK_PKPL_WRK_PKPL_CNNO))"
                                            [magic]="mgc.WRK_PKPL_WRK_PKPL_CNNO"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.WRK_PKPL_WRK_PKPL_CNNO, row.rowId)"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.WRK_PKPL_WRK_PKPL_CNNO
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.WRK_PKPL_WRK_PKPL_CNNO"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.WRK_PKPL_WRK_PKPL_CNNO, row.rowId)"
                                        >
                                            {{mg.getFormattedValue(mgc.WRK_PKPL_WRK_PKPL_CNNO, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column8"
                        [matColumnDef]="mgc.Column8"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Case
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.WRK_PKPL_WRK_PKPL_CSNO"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            currencyMask
                                            [options]="mg.getNumericPicture(mg.getPicture(mgc.WRK_PKPL_WRK_PKPL_CSNO))"
                                            [magic]="mgc.WRK_PKPL_WRK_PKPL_CSNO"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.WRK_PKPL_WRK_PKPL_CSNO, row.rowId)"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.WRK_PKPL_WRK_PKPL_CSNO
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.WRK_PKPL_WRK_PKPL_CSNO"
                                            [rowId]="row.rowId"
                                            [style.visibility]="mg.getVisible(mgc.WRK_PKPL_WRK_PKPL_CSNO, row.rowId)"
                                        >
                                            {{mg.getFormattedValue(mgc.WRK_PKPL_WRK_PKPL_CSNO, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container
                        [magic]="mgc.Column9"
                        [matColumnDef]="mgc.Column9"
                    >
                        <mat-header-cell *matHeaderCellDef>
                            Case Type
                        </mat-header-cell>
                        <mat-cell
                            *matCellDef="let row"
                            magicMark="magicTableRowContainer"
                        >
                            <div
                                style="display: flex; flex-direction: row"
                                *ngIf="mg.ifRowCreated(row)"
                            >
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input
                                            [formControlName]="mgc.PCS_DATA_PCS_CSTY"
                                            *ngIf="mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PCS_DATA_PCS_CSTY"
                                            [rowId]="row.rowId"
                                            mgFormat
                                        />
                                        <mgError
                                            [magic]=mgc.PCS_DATA_PCS_CSTY
                                            [rowId]="row.rowId"
                                        > </mgError>
                                        <label
                                            *ngIf="!mg.isRowInRowEditing(row)"
                                            [magic]="mgc.PCS_DATA_PCS_CSTY"
                                            [rowId]="row.rowId"
                                        >
                                            {{mg.getValue(mgc.PCS_DATA_PCS_CSTY, row.rowId)
}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row
                        *matRowDef="let row; columns: displayedColumns;"
                        class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}"
                        [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null"
                    >
                    </mat-row>
                </mat-table>
                <mat-paginator
                    #paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20]"
                    (page)="tableService.mgOnPaginateChange($event)"
                >
                </mat-paginator>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                [magic]="mgc.Label1"
                class="lable_overflow"
            >
            </label>
            <button [magic]="mgc.PC_Select_v1">
                {{mg.getValue(mgc.PC_Select_v1)}}
            </button>
            <button [magic]="mgc.Lot_Select_v1">
                {{mg.getValue(mgc.Lot_Select_v1)}}
            </button>
            <button [magic]="mgc.All_Select_v1">
                {{mg.getValue(mgc.All_Select_v1)}}
            </button>
            <button [magic]="mgc.All_Unselect_v1">
                {{mg.getValue(mgc.All_Unselect_v1)}}
            </button>
            <button [magic]="mgc.Print_v1">
                {{mg.getValue(mgc.Print_v1)}}
            </button>
            <button [magic]="mgc.Exportv1">
                {{mg.getValue(mgc.Exportv1)}}
            </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button [magic]="mgc.Help">
                {{mg.getValue(mgc.Help)}}
            </button>
        </div>
    </div>
</div>