<div novalidate [formGroup]="screenFormGroup">
    <div [magic]="mgc.DisplayPackData">
        <div class="card-body">
            <div class="form-group row" style="margin: 0rem;">
                <div class="col-lg-12 col-xxl-12">
                    <div class="form-group row">
                        <div class="col-lg-7">

                            <div class="example-container mat-elevation-z8 Table7TableContainerProps">
                                <mat-table #table [dataSource]="dataSource" class="container_border" matSort
                                    matSortDisableClear (matSortChange)="tableService.sortData($event)">
                                    <ng-container [magic]="mgc.Column8" [matColumnDef]="mgc.Column8">
                                        <mat-header-cell *matHeaderCellDef>
                                            Lot No.
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                            <div style="display: flex; flex-direction: row"
                                                *ngIf="mg.ifRowCreated(row)">
                                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                                    <div>
                                                        <input [formControlName]="mgc.WRK_PAKD_LTNO"
                                                            *ngIf="mg.isRowInRowEditing(row)" type='number'
                                                            [magic]="mgc.WRK_PAKD_LTNO" [rowId]="row.rowId" mgFormat />
                                                        <mgError [magic]=mgc.WRK_PAKD_LTNO [rowId]="row.rowId">
                                                        </mgError>
                                                        <label *ngIf="!mg.isRowInRowEditing(row)"
                                                            [magic]="mgc.WRK_PAKD_LTNO" [rowId]="row.rowId">
                                                            {{mg.getValue(mgc.WRK_PAKD_LTNO, row.rowId)
                                                            }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container [magic]="mgc.Column9" [matColumnDef]="mgc.Column9">
                                        <mat-header-cell *matHeaderCellDef>
                                            Cont.
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                            <div style="display: flex; flex-direction: row"
                                                *ngIf="mg.ifRowCreated(row)">
                                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                                    <div>
                                                        <input [formControlName]="mgc.WRK_PAKD_CNNO"
                                                            *ngIf="mg.isRowInRowEditing(row)" type='number'
                                                            [magic]="mgc.WRK_PAKD_CNNO" [rowId]="row.rowId" mgFormat />
                                                        <mgError [magic]=mgc.WRK_PAKD_CNNO [rowId]="row.rowId">
                                                        </mgError>
                                                        <label *ngIf="!mg.isRowInRowEditing(row)"
                                                            [magic]="mgc.WRK_PAKD_CNNO" [rowId]="row.rowId">
                                                            {{mg.getValue(mgc.WRK_PAKD_CNNO, row.rowId)
                                                            }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container [magic]="mgc.Column10" [matColumnDef]="mgc.Column10">
                                        <mat-header-cell *matHeaderCellDef>
                                            Case
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                            <div style="display: flex; flex-direction: row"
                                                *ngIf="mg.ifRowCreated(row)">
                                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                                    <div>
                                                        <input [formControlName]="mgc.WRK_PAKD_CSNO"
                                                            *ngIf="mg.isRowInRowEditing(row)" type='number'
                                                            [magic]="mgc.WRK_PAKD_CSNO" [rowId]="row.rowId" mgFormat />
                                                        <mgError [magic]=mgc.WRK_PAKD_CSNO [rowId]="row.rowId">
                                                        </mgError>
                                                        <label *ngIf="!mg.isRowInRowEditing(row)"
                                                            [magic]="mgc.WRK_PAKD_CSNO" [rowId]="row.rowId">
                                                            {{mg.getValue(mgc.WRK_PAKD_CSNO, row.rowId)
                                                            }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container [magic]="mgc.Column11" [matColumnDef]="mgc.Column11">
                                        <mat-header-cell *matHeaderCellDef>
                                            Carton
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                            <div style="display: flex; flex-direction: row"
                                                *ngIf="mg.ifRowCreated(row)">
                                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                                    <div>
                                                        <input [formControlName]="mgc.WRK_PAKD_CRNO"
                                                            *ngIf="mg.isRowInRowEditing(row)" type='number'
                                                            [magic]="mgc.WRK_PAKD_CRNO" [rowId]="row.rowId"
                                                            [style.visibility]="mg.getVisible(mgc.WRK_PAKD_CRNO, row.rowId)"
                                                            mgFormat />
                                                        <mgError [magic]=mgc.WRK_PAKD_CRNO [rowId]="row.rowId">
                                                        </mgError>
                                                        <label *ngIf="!mg.isRowInRowEditing(row)"
                                                            [magic]="mgc.WRK_PAKD_CRNO" [rowId]="row.rowId"
                                                            [style.visibility]="mg.getVisible(mgc.WRK_PAKD_CRNO, row.rowId)">
                                                            {{mg.getValue(mgc.WRK_PAKD_CRNO, row.rowId)
                                                            }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container [magic]="mgc.Column12" [matColumnDef]="mgc.Column12">
                                        <mat-header-cell *matHeaderCellDef>
                                            Part No.
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                            <div style="display: flex; flex-direction: row"
                                                *ngIf="mg.ifRowCreated(row)">
                                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                                    <div>
                                                        <input [formControlName]="mgc.WRK_PAKD_PART"
                                                            *ngIf="mg.isRowInRowEditing(row)"
                                                            [magic]="mgc.WRK_PAKD_PART" [rowId]="row.rowId"
                                                            [style.visibility]="mg.getVisible(mgc.WRK_PAKD_PART, row.rowId)"
                                                            mgFormat />
                                                        <mgError [magic]=mgc.WRK_PAKD_PART [rowId]="row.rowId">
                                                        </mgError>
                                                        <label *ngIf="!mg.isRowInRowEditing(row)"
                                                            [magic]="mgc.WRK_PAKD_PART" [rowId]="row.rowId"
                                                            [style.visibility]="mg.getVisible(mgc.WRK_PAKD_PART, row.rowId)">
                                                            {{mg.getValue(mgc.WRK_PAKD_PART, row.rowId)
                                                            }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container [magic]="mgc.Column13" [matColumnDef]="mgc.Column13">
                                        <mat-header-cell *matHeaderCellDef>
                                            Part Name
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                            <div style="display: flex; flex-direction: row"
                                                *ngIf="mg.ifRowCreated(row)">
                                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                                    <div>
                                                        <input [formControlName]="mgc.PART_NAM"
                                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.PART_NAM"
                                                            [rowId]="row.rowId"
                                                            [style.visibility]="mg.getVisible(mgc.PART_NAM, row.rowId)"
                                                            mgFormat />
                                                        <mgError [magic]=mgc.PART_NAM [rowId]="row.rowId"> </mgError>
                                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.PART_NAM"
                                                            [rowId]="row.rowId"
                                                            [style.visibility]="mg.getVisible(mgc.PART_NAM, row.rowId)">
                                                            {{mg.getValue(mgc.PART_NAM, row.rowId)
                                                            }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container [magic]="mgc.Column14" [matColumnDef]="mgc.Column14">
                                        <mat-header-cell *matHeaderCellDef>
                                            Part Qty
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                            <div style="display: flex; flex-direction: row"
                                                *ngIf="mg.ifRowCreated(row)">
                                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                                    <div>
                                                        <input [formControlName]="mgc.WRK_PAKD_PQTY"
                                                            *ngIf="mg.isRowInRowEditing(row)" type='number'
                                                            [magic]="mgc.WRK_PAKD_PQTY" [rowId]="row.rowId"
                                                            [style.visibility]="mg.getVisible(mgc.WRK_PAKD_PQTY, row.rowId)"
                                                            mgFormat />
                                                        <mgError [magic]=mgc.WRK_PAKD_PQTY [rowId]="row.rowId">
                                                        </mgError>
                                                        <label *ngIf="!mg.isRowInRowEditing(row)"
                                                            [magic]="mgc.WRK_PAKD_PQTY" [rowId]="row.rowId"
                                                            [style.visibility]="mg.getVisible(mgc.WRK_PAKD_PQTY, row.rowId)">
                                                            {{mg.getValue(mgc.WRK_PAKD_PQTY, row.rowId)
                                                            }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container [magic]="mgc.Column15" [matColumnDef]="mgc.Column15">
                                        <mat-header-cell *matHeaderCellDef>
                                            Color
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                                            <div style="display: flex; flex-direction: row"
                                                *ngIf="mg.ifRowCreated(row)">
                                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                                    <div>
                                                        <input [formControlName]="mgc.WRK_COLOR"
                                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.WRK_COLOR"
                                                            [rowId]="row.rowId" mgFormat />
                                                        <mgError [magic]=mgc.WRK_COLOR [rowId]="row.rowId"> </mgError>
                                                        <label *ngIf="!mg.isRowInRowEditing(row)"
                                                            [magic]="mgc.WRK_COLOR" [rowId]="row.rowId">
                                                            {{mg.getValue(mgc.WRK_COLOR, row.rowId)
                                                            }}
                                                        </label>
                                                    </div>
                                                </div>
                                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                                    <div>
                                                        <input [formControlName]="mgc.CEMST_CECLN1"
                                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.CEMST_CECLN1"
                                                            [rowId]="row.rowId" mgFormat />
                                                        <mgError [magic]=mgc.CEMST_CECLN1 [rowId]="row.rowId">
                                                        </mgError>
                                                        <label *ngIf="!mg.isRowInRowEditing(row)"
                                                            [magic]="mgc.CEMST_CECLN1" [rowId]="row.rowId">
                                                            {{mg.getValue(mgc.CEMST_CECLN1, row.rowId)
                                                            }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                                        [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                                        (click)="row? tableService.selectRow(row.rowId) : null">
                                    </mat-row>
                                </mat-table>
                                <mat-paginator #paginator [pageSize]="10" [hidePageSize]="true"
                                    (page)="tableService.mgOnPaginateChange($event)">
                                </mat-paginator>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="col-lg-12 col-xxl-12">
                                <div class="form-group row">
                                    <div class="col-lg-12" style="background-color: #edc883;">
                                        <label></label>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group-sm">
                                            <label>TYPE</label>
                                            <input class="form-control-ed" [formControlName]="mgc.PCN_DATA_PCN_CNTY"
                                                [magic]="mgc.PCN_DATA_PCN_CNTY" mgFormat />
                                            <mgError [magic]=mgc.PCN_DATA_PCN_CNTY> </mgError>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group-sm">
                                            <label>Packing</label>
                                            <input class="form-control-ed" [formControlName]="mgc.Edit6"
                                                [magic]="mgc.Edit6" mgFormat />
                                            <mgError [magic]=mgc.Edit6> </mgError>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 d-flex align-items-center" 
                                        style="background-color: #edc883; padding: 10px; gap: 10px;">
                                        <label class="mb-0" style="width: 50%;">Engine Case</label>
                                        <button type="button" [magic]="mgc.Case_Engine_Details_v1" *ngIf="mg.getVisible(mgc.Case_Engine_Details_v1)==='visible'"
                                            class="btn btn-info font-weight-bold btn-wdth">
                                            Engine Details
                                        </button>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group-sm">
                                            <label>TYPE</label>
                                            <input class="form-control-ed" [formControlName]="mgc.PCS_DATA_PCS_CSTY"
                                                [magic]="mgc.PCS_DATA_PCS_CSTY" mgFormat />
                                            <mgError [magic]=mgc.PCS_DATA_PCS_CSTY> </mgError>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group-sm">
                                            <label>Weight</label>
                                            <input class="form-control-ed" [formControlName]="mgc.Edit30"
                                                [magic]="mgc.Edit30" mgFormat />
                                            <mgError [magic]=mgc.Edit30> </mgError>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group-sm">
                                            <label> Sch Date</label>
                                            <input class="form-control-ed" type="date" [formControlName]="mgc.Edit32"
                                                [magic]="mgc.Edit32" *ngIf="mg.getVisible(mgc.Edit32)==='visible'"
                                                dateInput />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group-sm">
                                            <label> Approval</label>
                                            <input class="form-control-ed" [formControlName]="mgc.Edit33"
                                                [magic]="mgc.Edit33" mgFormat />
                                            <mgError [magic]=mgc.Edit33> </mgError>
                                        </div>
                                    </div>
                                    <div class="col-lg-4" *ngIf="mg.getVisible(mgc.PCS_DATA_PCS_APDT)==='visible'">
                                        <div class="form-group-sm">
                                            <label> Approval Date Time </label>
                                            <input type="date" [formControlName]="mgc.PCS_DATA_PCS_APDT"
                                                [magic]="mgc.PCS_DATA_PCS_APDT"
                                                *ngIf="mg.getVisible(mgc.PCS_DATA_PCS_APDT)==='visible'" dateInput />
                                            <input type="time" [formControlName]="mgc.PCS_DATA_PCS_APTM"
                                                [magic]="mgc.PCS_DATA_PCS_APTM"
                                                *ngIf="mg.getVisible(mgc.PCS_DATA_PCS_APTM)==='visible'" step=1 />
                                        </div>
                                    </div>
                                    <div class="col-lg-12" style="background-color: #edc883;">
                                        <label> .</label>

                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group-sm">
                                            <label>Pick List</label>
                                            <input class="form-control-ed" [formControlName]="mgc.Edit44"
                                                [magic]="mgc.Edit44" mgFormat />
                                            <input type="date" [formControlName]="mgc.PCS_DATA_PCS_PLDT"
                                                [magic]="mgc.PCS_DATA_PCS_PLDT"
                                                *ngIf="mg.getVisible(mgc.PCS_DATA_PCS_PLDT)==='visible'" dateInput />
                                            <input type="time" [formControlName]="mgc.PCS_DATA_PCS_PLTM"
                                                [magic]="mgc.PCS_DATA_PCS_PLTM"
                                                *ngIf="mg.getVisible(mgc.PCS_DATA_PCS_PLTM)==='visible'" step=1 />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group-sm">
                                            <label>Pack Plan</label>
                                            <input class="form-control-ed" [formControlName]="mgc.Edit48"
                                                [magic]="mgc.Edit48" mgFormat />
                                            <input type="date" [formControlName]="mgc.PCS_DATA_PCS_PPDT"
                                                [magic]="mgc.PCS_DATA_PCS_PPDT"
                                                *ngIf="mg.getVisible(mgc.PCS_DATA_PCS_PPDT)==='visible'" dateInput />
                                            <input type="time" [formControlName]="mgc.PCS_DATA_PCS_PPTM"
                                                [magic]="mgc.PCS_DATA_PCS_PPTM"
                                                *ngIf="mg.getVisible(mgc.PCS_DATA_PCS_PPTM)==='visible'" step=1 />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group-sm">
                                            <label>Label</label>
                                            <input class="form-control-ed" [formControlName]="mgc.Edit52"
                                                [magic]="mgc.Edit52" mgFormat />
                                            <input type="date" [formControlName]="mgc.PCS_DATA_PCS_LBDT"
                                                [magic]="mgc.PCS_DATA_PCS_LBDT"
                                                *ngIf="mg.getVisible(mgc.PCS_DATA_PCS_LBDT)==='visible'" dateInput />
                                            <input type="time" [formControlName]="mgc.PCS_DATA_PCS_LBTM"
                                                [magic]="mgc.PCS_DATA_PCS_LBTM"
                                                *ngIf="mg.getVisible(mgc.PCS_DATA_PCS_LBTM)==='visible'" step=1 />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group-sm">
                                            <label>Packing</label>
                                            <input class="form-control-ed" [formControlName]="mgc.Edit38"
                                                [magic]="mgc.Edit38" mgFormat />
                                            <input type="date" [formControlName]="mgc.PCS_DATA_PCS_APKD"
                                                [magic]="mgc.PCS_DATA_PCS_APKD"
                                                *ngIf="mg.getVisible(mgc.PCS_DATA_PCS_APKD)==='visible'" dateInput />
                                            <input type="time" [formControlName]="mgc.PCS_DATA_PCS_APKT"
                                                [magic]="mgc.PCS_DATA_PCS_APKT"
                                                *ngIf="mg.getVisible(mgc.PCS_DATA_PCS_APKT)==='visible'" step=1 />
                                        </div>
                                    </div>

                                    <div class="col-lg-12 d-flex align-items-center" 
                                        style="background-color: #edc883; padding: 10px; gap: 10px;">
                                        <label class="mb-0" style="width: 50%;">Engine Carton</label>
                                        <button type="button" [magic]="mgc.Carton_Engine_Details_v1" *ngIf="mg.getVisible(mgc.Carton_Engine_Details_v1)==='visible'"
                                            class="btn btn-info font-weight-bold btn-wdth">
                                            Engine Carton Details
                                        </button>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group-sm">
                                            <label>TYPE</label>
                                            <input class="form-control-ed" [formControlName]="mgc.PCR_DATA_PCR_CRTY"
                                                [magic]="mgc.PCR_DATA_PCR_CRTY" mgFormat />
                                            <mgError [magic]=mgc.PCR_DATA_PCR_CRTY> </mgError>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group-sm">
                                            <label>Weight</label>
                                            <input class="form-control-ed" [formControlName]="mgc.Edit60"
                                                [magic]="mgc.Edit60" mgFormat />
                                            <input class="form-control-ed" [formControlName]="mgc.Edit61"
                                                [magic]="mgc.Edit61" mgFormat />
                                            <input class="form-control-ed" [formControlName]="mgc.Edit63"
                                                [magic]="mgc.Edit63" mgFormat />

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group-sm">
                                            <label>Station</label>
                                            <input class="form-control-ed" [formControlName]="mgc.PCR_DATA_PCR_CRST"
                                                [magic]="mgc.PCR_DATA_PCR_CRST" mgFormat />
                                            <mgError [magic]=mgc.PCR_DATA_PCR_CRST> </mgError>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group-sm">
                                            <label>Label</label>
                                            <input class="form-control-ed" [formControlName]="mgc.Edit67"
                                                [magic]="mgc.Edit67" mgFormat />
                                            <input type="date" [formControlName]="mgc.PCR_DATA_PCR_CRPD"
                                                [magic]="mgc.PCR_DATA_PCR_CRPD"
                                                *ngIf="mg.getVisible(mgc.PCR_DATA_PCR_CRPD)==='visible'" dateInput />
                                            <input type="time" [formControlName]="mgc.PCR_DATA_PCR_CRPT"
                                                [magic]="mgc.PCR_DATA_PCR_CRPT"
                                                *ngIf="mg.getVisible(mgc.PCR_DATA_PCR_CRPT)==='visible'" step=1 />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group-sm">
                                            <label>Packing</label>
                                            <input class="form-control-ed" [formControlName]="mgc.Edit71"
                                                [magic]="mgc.Edit71" mgFormat />
                                            <input type="date" [formControlName]="mgc.PCR_DATA_PCR_APKD"
                                                [magic]="mgc.PCS_DATA_PCS_APKD"
                                                *ngIf="mg.getVisible(mgc.PCR_DATA_PCR_APKD)==='visible'" dateInput />
                                            <input type="time" [formControlName]="mgc.PCS_DATA_PCS_APKT"
                                                [magic]="mgc.PCS_DATA_PCS_APKT"
                                                *ngIf="mg.getVisible(mgc.PCS_DATA_PCS_APKT)==='visible'" step=1 />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group-sm">
                                            <label>Case Pack</label>
                                            <input class="form-control-ed" [formControlName]="mgc.Edit75"
                                                [magic]="mgc.Edit75" mgFormat />
                                            <input type="date" [formControlName]="mgc.PCR_DATA_PCR_CCDT"
                                                [magic]="mgc.PCR_DATA_PCR_CCDT"
                                                *ngIf="mg.getVisible(mgc.PCR_DATA_PCR_CCDT)==='visible'" dateInput />
                                            <input type="time" [formControlName]="mgc.PCR_DATA_PCR_CCTM"
                                                [magic]="mgc.PCR_DATA_PCR_CCTM"
                                                *ngIf="mg.getVisible(mgc.PCR_DATA_PCR_CCTM)==='visible'" step=1 />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>