<div novalidate [formGroup]="screenFormGroup">
    <div [magic]="mgc.CASEDETAILS">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                            CASE DETAILS
                        </label></h3>
                    <label class="lable_overflow mb-0">
                        {{mg.getText(mgc.Edit1)}}
                    </label>
                    <div class="d-flex align-items-center">
                        <button type="button" [magic]="mgc.btnexit"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: row">
                <label class="lbl_title mr-2">
                    Lot:
                </label>
                <label class="lbl_table mt-1 mr-4" [magic]="mgc.WRK_CONT_WRK_CONT_LTCD">
                    {{mg.getValue(mgc.WRK_CONT_WRK_CONT_LTCD) }}
                </label>

                <label class="lbl_title mr-2">
                    Container:
                </label>
                <label class="lbl_table mt-1" [magic]="mgc.WRK_CONT_WRK_CONT_CNCD">
                    {{mg.getValue(mgc.WRK_CONT_WRK_CONT_CNCD) }}
                </label>

            </div>
        </div>
        <div
            class="container-fluid d-flex align-items-center justify-content-sm-between justify-content-center flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mb-2">
                <div class="d-flex align-items-center ser-bt1">
                    <div></div><button type="button" class="btn btn-sm btn-success" [magic]="mgc.btnAdd"
                        *ngIf="mg.getVisible(mgc.btnAdd)==='visible'">
                        <i class="flaticon-app mr-2"></i>ADD CASE DETAILS
                    </button>
                </div>
            </div>
        </div>
        <div class="m-tablewrapper pl-0 pr-0">
            <div class="example-container mat-elevation-z8 Table22TableContainerProps">
                <mat-table #table [dataSource]="dataSource" class="container_border" matSort matSortDisableClear
                    (matSortChange)="tableService.sortData($event)">
                    <ng-container [magic]="mgc.Column11" [matColumnDef]="mgc.Column11">
                        <mat-header-cell *matHeaderCellDef>
                            Code
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <label [magic]="mgc.WRK_CASE_CSCD" [rowId]="row.rowId">
                                        {{mg.getValue(mgc.WRK_CASE_CSCD, row.rowId)
                                        }}
                                    </label>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column12" [matColumnDef]="mgc.Column12">
                        <mat-header-cell *matHeaderCellDef>
                            Type
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <div>
                                        <input style="width: 70%" [formControlName]="mgc.WRK_CASE_CSTY"
                                            *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.WRK_CASE_CSTY"
                                            [rowId]="row.rowId" mgFormat />
                                        <mgError [magic]=mgc.WRK_CASE_CSTY [rowId]="row.rowId"> </mgError>
                                        <label *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.WRK_CASE_CSTY"
                                            [rowId]="row.rowId">
                                            {{mg.getValue(mgc.WRK_CASE_CSTY, row.rowId)
                                            }}
                                        </label>
                                        <button class="btn-primary" style="min-width: auto; margin: auto" [magic]="mgc.WRK_CASE_CSTY"
                                            [rowId]="row.rowId">...</button>
                                    </div>
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column13" [matColumnDef]="mgc.Column13">
                        <mat-header-cell *matHeaderCellDef>
                            Engine
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <div [formGroup]="mg.getFormGroupByRow(row.rowId)">
                                    <input type="checkbox" id="WRK_CASE_WRK_CASE_CSEG_{{row.rowId}}"
                                        [formControlName]="mgc.WRK_CASE_WRK_CASE_CSEG"
                                        [magic]="mgc.WRK_CASE_WRK_CASE_CSEG" [rowId]="row.rowId" />
                                </div>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container [magic]="mgc.Column26" [matColumnDef]="mgc.Column26">
                        <mat-header-cell *matHeaderCellDef>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button class="btn-tbl" *ngIf="!mg.isRowInRowEditing(row)" [magic]="mgc.EnterRowEditing"
                                    [rowId]="row.rowId">
                                    <i class="icon-xl far fa-edit text-info" aria-hidden="true"></i>
                                </button>
                            </div>
                              <!-- <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button class="btn-tbl" [magic]="mgc.btnDelete" 
                                 [rowId]="row.rowId">
                                    <i class="icon-xl fas fa-trash text-danger" aria-hidden="true"></i>
                                </button>
                            </div> -->

                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button class="btn-tbl" *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.SaveRowEditing"
                                    [rowId]="row.rowId">
                                    <i class="icon-xl far fa-save text-success" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button class="btn-tbl" *ngIf="mg.isRowInRowEditing(row)" [magic]="mgc.CancelRowEditing"
                                    [rowId]="row.rowId">
                                    <i class="icon-xl fas fa-eraser  text-danger" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button *ngIf="!mg.isRowInRowEditing(row)" class="btn-tbl" [magic]="mgc.btnNext"
                                    [rowId]="row.rowId">
                                    <i class="icon-xl fas fa-arrow-right text-primary" aria-hidden="true"></i>
                                </button>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="table_row"
                        [ngClass]="{ 'selected': selection.isSelected(row)}" [magicRow]="row?.rowId"
                        (click)="row? tableService.selectRow(row.rowId) : null">
                    </mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [hidePageSize]="true"
                    (page)="tableService.mgOnPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>
        <div class="col-lg-12 col-xxl-12">
            <div class="form-group row">
                <div class="col-lg-4">
                    <div class="form-group-sm">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group-sm">
                        <button type="button" [magic]="mgc.CASECOPY" [disabled]="mg.isDisabled(mgc.CASECOPY )"
                            class="btn btn-primary font-weight-bold mt-5 btn-wdth">
                            {{mg.getValue(mgc.CASECOPY)}}
                        </button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group-sm">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>