<!-- <div novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" [magic]="mgc.PARTSPACKINGMASTERINQUIRY">
        <div style="display: flex; flex-direction: row">
            <div *ngIf="mg.isImageExists(mgc.Image1)">
                <img [magic]="mgc.Image1" [src]="mg.getImage(mgc.Image1)" />
            </div>
            <label [magic]="mgc.Edit3">
                {{mg.getValue(mgc.Edit3)
                | magicDate : mgc.Edit3}}
            </label>
            <label [magic]="mgc.Edit2">
                {{mg.getValue(mgc.Edit2) }}
            </label>
            <label [magic]="mgc.Edit4">
                {{mg.getValue(mgc.Edit4)
                | magicTime : mgc.Edit4}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Edit5">
                {{mg.getValue(mgc.Edit5) }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <label [magic]="mgc.Label8" class="lable_overflow">
                Lot Id
            </label>
            <div>
                <input style="width: 70%" [formControlName]="mgc.Lot_Type_v" [magic]="mgc.Lot_Type_v" mgFormat />
                <mgError [magic]=mgc.Lot_Type_v> </mgError>
                <button style="min-width: auto; margin: auto" [magic]="mgc.Lot_Type_v">...</button>
            </div>
            <label [magic]="mgc.Label10" class="lable_overflow">
                Date
            </label>
            <input type="date" [formControlName]="mgc.Date_v" [magic]="mgc.Date_v" dateInput />
            <div [magic]="mgc.Option_v" (change)="task.mgOnRadioSelectionChanged(mgc.Option_v)">
                <div *ngFor="let o of mg.getItemListValues(mgc.Option_v);">
                    <label>
                        <input type="radio" [formControlName]="mgc.Option_v" [value]="o.index" />
                        {{o.displayValue}}
                    </label>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <div>
                <input [formControlName]="mgc.LOT_MAST_LOT_DESC" [magic]="mgc.LOT_MAST_LOT_DESC" mgFormat />
                <mgError [magic]=mgc.LOT_MAST_LOT_DESC> </mgError>
            </div>
            <label [magic]="mgc.Edit12" [style.visibility]="mg.getVisible(mgc.Edit12)">
                {{mg.getValue(mgc.Edit12) }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row">
            <magic-subform [magic]="mgc.Display_Packing_Master">
            </magic-subform>
        </div>
    </div>
</div> -->

<div novalidate [formGroup]="screenFormGroup">
    <div class="container-fluid-ov" [magic]="mgc.PARTSPACKINGMASTERINQUIRY">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <h3><label class="lable_overflow mb-0">
                            PARTS PACKING MASTER INQUIRY
                        </label></h3>
                    <div class="d-flex align-items-center">
                        <button type="button" [magic]="mgc.btnexit"
                            class="btn btn-danger btn-sm font-weight-bold ml-2">Back</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row" style="margin: 0rem;">
                    <div class="col-lg-12 col-xxl-12">
                        <div class="form-group row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>LOT CODE</label>
                                    <div class="input-group">
                                        <input type="text" [formControlName]="mgc.Lot_Type_v" [magic]="mgc.Lot_Type_v"
                                            class="form-control" placeholder="SELECT LOT CODE" mgFormat />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-loanlist btn-icon"
                                                [magic]="mgc.Lot_Type_v">
                                                <span class="svg-icon svg-icon-lg"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                        height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <path
                                                                d="M3,12 C3,12 5.45454545,6 12,6 C16.9090909,6 21,12 21,12 C21,12 16.9090909,18 12,18 C5.45454545,18 3,12 3,12 Z"
                                                                fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                            <path
                                                                d="M12,15 C10.3431458,15 9,13.6568542 9,12 C9,10.3431458 10.3431458,9 12,9 C13.6568542,9 15,10.3431458 15,12 C15,13.6568542 13.6568542,15 12,15 Z"
                                                                fill="#000000" opacity="0.3" />
                                                        </g>
                                                    </svg></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group-sm">
                                    <label>LOT DESCRIPTION</label>
                                    <input class="form-control" [formControlName]="mgc.LOT_MAST_LOT_DESC"
                                        [magic]="mgc.LOT_MAST_LOT_DESC" mgFormat />
                                    <mgError [magic]=mgc.LOT_MAST_LOT_DESC> </mgError>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group-sm">
                                    <label>Date</label>
                                    <input class="form-control" type="date" [formControlName]="mgc.Date_v" [magic]="mgc.Date_v" dateInput />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group-sm mt-5">
                                     <div [magic]="mgc.Option_v" *ngIf="mg.getVisible(mgc.Option_v)==='visible'"
                                        (change)="task.mgOnRadioSelectionChanged(mgc.Option_v)">
                                        <div *ngFor="let o of mg.getItemListValues(mgc.Option_v);">
                                            <label>
                                                <input type="radio" [formControlName]="mgc.Option_v"
                                                    [value]="o.index" />
                                                {{o.displayValue}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="form-group-sm">
                                    <button type="button" [magic]="mgc.btnSearch"
                                        class="btn btn-primary font-weight-bold mt-8 btn-wdth">
                                        View
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-12">
                        <magic-subform [magic]="mgc.DisplayPackingMaster">
                        </magic-subform>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>